@import "./variables";

.icon {
    display: flex;
    font-style: normal !important;
    font-size: 12px;
    font-family: 'Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_menu {
    &:before  {
        content: $icon-menu;
    }
}

.icon_search {
    &:before  {
        content: $icon-search;
    }
}

.icon_cart {
    &:before  {
        content: $icon-cart;
    }
}

.icon_eye {
    &:before {
        content: $icon-eye;
    }
}


.icon_user {
    &:before {
        content: $icon-user;
    }
}

.icon_nav {
    &:before {
        content: $icon-nav;
    }
}

.icon_phone {
    &:before {
        content: $icon-phone;
    }
}

.icon_pin {
    &:before {
        content: $icon-pin;
    }
}

.icon_bag {
    &:before {
        content: $icon-bag;
    }
}

.icon_delivery {
    &:before {
        content: $icon-delivery;
    }
}

.icon_mastercard {
    &:before {
        content: $icon-mastercard;
    }
}

.icon_visa {
    &:before {
        content: $icon-visa;
    }
}

.icon_mir {
    &:before {
        content: $icon-mir;
    }
}

.icon_facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon_instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon_google {
    &:before {
        content: $icon-google;
    }
}

.icon_youtube {
    &:before {
        content: $icon-youtube;
    }
}

.icon_heart-stroke {
    &:before {
        content: $icon-heart-stroke;
    }
}

.icon-heart-fill {
    &:before {
        content: $icon-heart-fill;
    }
}

.icon_share {
    &:before {
        content: $icon-share;
    }
}


.icon_star-stroke {
    &:before {
        content: $icon-star-stroke;
    }
}

.icon_star-full {
    &:before {
        content: $icon-star-full;
    }
}

.icon_arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}

.icon_arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}

.icon_arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon_arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon_chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}

.icon_chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}

.icon_chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}

.icon_chevron-left {
    &:before {
        content: $icon-chevron-left;
    }
}

.icon_close {
    &:before {
        content: $icon-delete;
    }
}

.icon_pay-cash {
    &:before {
        content: $icon-pay-cash;
    }
}

.icon_pay-card {
    &:before {
        content: $icon-pay-card;
    }
}

.icon_pay-online {
    &:before {
        content: $icon-pay-online;
    }
}

.price {
    &:after {
        margin-left: 1px;
        content: $icon-rouble;
        font-family: 'Icons';
        font-size: 0.8em;
    }
}
