$icon-rouble: "\e900";
$icon-star-stroke: "\e901";
$icon-star-full: "\e902";
$icon-bag: "\e903";
$icon-pin: "\e904";
$icon-phone: "\e905";
$icon-delivery: "\e906";
$icon-nav: "\e907";
$icon-share: "\e908";
$icon-cart: "\e909";
$icon-eye: "\e90a";
$icon-arrow-sort: "\e90b";
$icon-menu: "\e913";
$icon-cart: "\e909";
$icon-chevron: "\e90c";
$icon-search: "\e910";
$icon-user: "\e915";
$icon-pay: "\e911";
$icon-mir: "\e912";
$icon-mastercard: "\e914";
$icon-heart-stroke: "\e916";
$icon-google: "\e917";
$icon-facebook: "\e918";
$icon-instagram: "\e91b";
$icon-visa: "\e90f";
$icon-youtube: "\e90e";