$icon-rouble: "\e90b";
$icon-rouble-bold: "\e900";

$icon-star-stroke: "\e901";
$icon-star-full: "\e902";
$icon-bag: "\e903";
$icon-pin: "\e904";
$icon-phone: "\e905";
$icon-delivery: "\e906";
$icon-nav: "\e907";
$icon-share: "\e908";
$icon-cart: "\e909";
$icon-eye: "\e90a";
$icon-menu: "\e913";
$icon-cart: "\e909";
$icon-search: "\e910";
$icon-user: "\e915";
$icon-pay: "\e911";
$icon-mir: "\e912";
$icon-mastercard: "\e914";

$icon-google: "\e917";
$icon-facebook: "\e918";
$icon-instagram: "\e91b";
$icon-visa: "\e90f";
$icon-youtube: "\e90e";
$icon-delete: "\e90d";

$icon-chevron-right: "\e90c";
$icon-chevron-left: "\e91c";
$icon-chevron-up: "\e922";
$icon-chevron-down: "\e91d";

$icon-arrow-up: "\e921";
$icon-arrow-down: "\e920";
$icon-arrow-left: "\e91f";
$icon-arrow-right: "\e91e";

$icon-heart-stroke: "\e916";
$icon-heart-fill: "\e923";

$icon-pay-online: "\e924";
$icon-pay-card: "\e925";
$icon-pay-cash: "\e926";