$icon-menu: "\e900";
$icon-cart: "\e901";
$icon-search: "\e902";
$icon-user: "\e903";
$icon-pay: "\e904";
$icon-mir: "\e905";
$icon-mastercard: "\e906";
$icon-heart: "\e907";
$icon-google: "\e908";
$icon-facebook: "\e909";
$icon-delivery: "\e90a";
$icon-brands: "\e90b";
$icon-visa: "\e90c";
$icon-youtube: "\e90d";
$icon-eye: "\e90e";
$icon-nav: "\e913";
$icon-phone: "\e912";
$icon-pin: "\e911";
$icon-bag: "\e910";
$icon-delivery: "\e90f";
$icon-instagram: "\ea92";