/server/venv
/server/venv/
/server/data

./server/venv

./geo/venv
/geo/venv
*.ipynb

/client/node_modules
/client/src
/client/static_production

./client/node_modules
./client/src
./client/static_production

./storage