client/node_modules/
client/dist
admin/node_modules/
server/venv
geo/venv
env/
storage/
compose/nginx/static_production/
compose/nginx/dist/
compose/nginx-proxy/static_production/
compose/nginx-proxy/dist/
client/static_production/
*.pyc
*.env
*.vscode
*.sqlite3
*.ipynb
*.xlsx
*.csv
*.json
