* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

input {
    outline: none !important;
    box-shadow: none !important;
    font-family: inherit;
}

li {
    list-style: none;
}
