.review {
    padding: 29px 0px;
    max-width: 738px;
    border-top: 1px solid $grey;
}

.review-rating {
    margin-bottom: 10px;
}

.review-author {
    margin-top: 10px;
    color: $dark-grey;
}

.rating-bar-progress {
    height: 100%;
    background: #f57e39;
}

.rating-bar {
    height: 5px;
    width: 201px;
    float: left;
    background: #ededed;
}

.rating-row {
    height: 20px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.rating-percentage {
    width: 26px;
    margin-left: 10px;
}

.rating-label {
    margin-left: 20px;
}

.rating-summary {
    width: 320px;
    overflow: hidden;
    margin-bottom: 28px;
    @include mq($from: wide) {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}