<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="author"    lang="ru" content="www.presidentwatches.ru"/>
        <meta name="copyright" lang="ru" content="© 2018 Интернет-магазин ПрезидентВотчес"/>

        {% block meta %}
        <title></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% endblock meta %}

        {% block open_graph %}
        {% endblock open_graph %}

        {% block open_graph_image %}
        {% endblock open_graph_image %}

        {% block favicons %}
        {% endblock favicons %}

        {% block css %}
        <link rel="stylesheet" href="{{ static('css/styles.css') }}" />
        {% endblock css %}

        {% block script_head %}
        <script src="{{ static('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ static('js/main.js') }}"></script>

        {% endblock script_head %}
    </head>

    <body class="page">
        <div class="side-menu">
        </div>
        <div class="side-catalog">
        </div>
        <div class="page__content">
            <div class="page__content-top">
                {% block header %}
                    {% include "blocks/header.html" %}
                {% endblock header %}

                {% block content %}
                {% endblock content %}

            </div>
            <div class="page__content-bottom">
                {% block footer %}
                    {% include "blocks/footer.html" %}
                {% endblock footer %}
            </div>
        </div>

        {% with cart = session_cart(request) %}
        <div class="sidebar" id="sidebar">
            <div class="sidebar__inner">
                <div class="sidebar-tabs sticky">
                    <ul class="sidebar-nav">
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link active" href="#viewed">
                                <i class="icon icon_eye">
                                </i>
                            </a>
                        </li>
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link" href="#favorites">
                                <i class="icon icon_heart-stroke">
                                </i>
                            </a>
                        </li>
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link" href="#cart">
                                <i class="icon icon_cart">
                                </i>
                                <div class="sidebar-nav-count">
                                    {{ cart.data['total_quantity'] }}
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-outlet">
                        <div class="sidebar-pane" id="viewed">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Вы смотрели
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                        </div>
                        <div class="sidebar-pane" id="favorites">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Избранное
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                        </div>
                        <div class="sidebar-pane active" id="cart">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Корзина
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                            <div class="sidebar-pane-body">
                                <ul class="sidebar-pane-cart" id="sidebar-cart-items">
                                    {% for item in cart.items_list %}
                                    <li class='card-mini sidebar-card'>
                                        <div class="card-mini__img-wrap">
                                            <img class="card-mini__img" src="{{item['image']}}">
                                        </div>
                                        <div class="card-mini__content">
                                            <div class="card-mini__brand">
                                                {{item['brand']}}
                                            </div>
                                            <div class="card-mini__series">
                                                {{item['series']}}
                                            </div>
                                            <div class="card-mini__model">
                                                {{item['model']}}
                                            </div>
                                            <div class="card-mini__controls">
                                                <div class="card-mini__quantity-controls">
                                                </div>
                                                <div class="card-mini__side-price">
                                                    {{item['total_price']}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="sidebar-pane-footer">
                                <div class="sidebar-cart-summary">
                                    <div class="sidebar-old-price">
                                    </div>
                                    <div class="sidebar-overall bold">
                                        <div class="sidebar__overall-left">
                                            Итого
                                        </div>
                                        <div class="sidebar__overall-right">
                                            <span class="price">{{cart.data['total_price']}}</span>
                                        </div>
                                    </div>
                                    <div class="sidebar-submit-area">
                                        <div class="sidebar-promo">
                                            <input class="input"
                                                placeholder="Промокод"
                                            >
                                        </div>
                                        <a class="button button_accent button_dense sidebar-submit"
                                            href="/cart/">
                                            ОФОРМИТЬ ЗАКАЗ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}


        {% block modals %}
        <div class="page-overlay" id="page-overlay">
        </div>
        <div class="mobile-menu" id="mobile-menu">
            <div class="mobile-header">
                <div class="mobile-header__left">
                    <div class="mobile-header__close menu-left-close">
                        <div class="control-button">
                            ×
                        </div>
                    </div>
                </div>
                <div class="mobile-header__right">
                    <div class="mobile-header__auth header-auth">
                        <i class="icon icon_user">
                        </i>
                        <span class="rarefied">ВОЙТИ</span>
                    </div>
                    <div class="mobile-header__controls">
                        <div class="control-button">
                            <i class="icon icon_eye">
                            </i>
                        </div>
                        <div class="control-button">
                            <i class="icon icon_heart-stroke">
                            </i>
                        </div>
                        <div class="control-button">
                            <i class="icon icon_cart">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu__container" id="mobile-menu-container">
                <div class="mobile-menu__body">
                    <nav class="nav-list">
                        <li class="nav-list-item">
                            <a href="#">
                                МУЖСКИЕ
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                ЖЕНСКИЕ
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                ДЕТСКИЕ
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                БРЕНДЫ
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                РАСПРОДАЖА
                            </a>
                        </li>
                    </nav>
                    <nav class="nav-list mobile-menu__main-links">
                        <li class="nav-list-item">
                            <a href="#">
                                <i class="icon icon_nav">
                                </i>
                                <span>
                                САНКТ-ПЕТЕРБУРГ
                                </span>
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                <i class="icon icon_pin">
                                </i>
                                <span>
                                30 ТОЧЕК САМОВЫВОЗА
                                </span>
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                <i class="icon icon_bag">
                                </i>
                                <span>
                                МАГАЗИНЫ
                                </span>
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                <i class="icon icon_delivery">
                                </i>
                                <span>
                                ДОСТАВКА И ОПЛАТА
                                </span>
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">
                                <i class="icon icon_phone">
                                </i>
                                <span>
                                8 800 200-7456
                                </span>
                            </a>
                        </li>
                    </nav>
                </div>
                <div class="mobile-menu__footer">
                    <nav class="social-footer row">
                        <li class="social-footer-item">
                            <a href="#">
                                <i class="icon icon_facebook">
                                </i>
                            </a>
                        </li>
                        <li class="social-footer-item">
                            <a href="#">
                                <i class="icon icon_instagram">
                                </i>
                            </a>
                        </li>
                        <li class="social-footer-item">
                            <a href="#">
                                <i class="icon icon_youtube">
                                </i>
                            </a>
                        </li>
                    </nav>
                </div>
            </div>
            <div class="mobile-menu-overlay menu-left-close">
            </div>
        </div>
        <div class="mobile-catalog">
        </div>
        <div class="search-modal modal" id="search-modal">
            <div class="search-modal-container">
                <div class="input-box search-modal__input-box">
                    <i class="icon icon_search search-modal__icon">
                    </i>
                    <input class="input search-modal-input">
                </div>
            </div>
            <div class="search-modal-overlay">
                <i class="icon">
                    ×
                </i>
                <div>
                    <span>
                        Закрыть
                    </span>
                </div>
            </div>
        </div>
        <div class="auth-modal modal" id="auth-modal">
            <div class="auth-modal-container" id="auth-modal-container">
                <div class="tabs">
                    <ul class="tabs-nav">
                        <li class="tabs-nav-item">
                            <a class="tabs-link active" href="#login">
                                Вход
                            </a>
                        </li>
                        <li class="tabs-nav-item">
                            <a class="tabs-link" href="#register">
                                Регистрация
                            </a>
                        </li>
                    </ul>
                    <div class="tabs-outlet">
                        <div class="tab-pane active" id="login">
                            <form class="form login-form">
                                <div class="form-title">
                                    С помощью аккаунта ПрезидентВотчес
                                </div>
                                <div class="input-box form-input-box">
                                    <input class="input input_white" placeholder="E-mail">
                                </div>
                                <div class="input-box form-input-box">
                                    <input class="input input_white" placeholder="Пароль">
                                </div>
                                <div>
                                    <input type="submit" class="button button_accent button_big" value="Войти">
                                    <a class="link link_underscored login-form__reset" href="#" id="reset-passw">
                                        Напомнить пароль
                                    </a>
                                </div>
                            </form>
                            <div class="form">
                                <div class="form-title">
                                    Через социальные сети
                                </div>
                                <div class="social-auth">
                                    <div class="button button_big social-auh-button button_fb">
                                        <i class="icon icon_facebook">
                                        </i>
                                        <span>
                                            FACEBOOK
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_vk">
                                        <i class="icon icon_vk">
                                        </i>
                                        <span>
                                            ВКОНТАКТЕ
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_google">
                                        <i class="icon icon_google">
                                        </i>
                                        <span>
                                            GOOGLE
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_mail">
                                        <i class="icon icon_mail">
                                        </i>
                                        <span>
                                            MAIL.RU
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="register">
                            <div class="form">
                                <div class="form-title">
                                    Через социальные сети
                                </div>
                                <div class="social-auth">
                                    <div class="button button_big social-auh-button button_fb">
                                        <i class="icon icon_fb">
                                        </i>
                                        <span>
                                            FACEBOOK
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_vk">
                                        <i class="icon icon_vk">
                                        </i>
                                        <span>
                                            ВКОНТАКТЕ
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_google">
                                        <i class="icon icon_google">
                                        </i>
                                        <span>
                                            GOOGLE
                                        </span>
                                    </div>
                                    <div class="button button_big social-auh-button button_mail">
                                        <i class="icon icon_mail">
                                        </i>
                                        <span>
                                            MAIL.RU
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <form class="form register-form">
                                <div class="form-title">
                                    Используя адрес электронной почты
                                </div>
                                <div class="field">
                                    <div class="field-title">
                                        E-mail
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-title">
                                        Пароль
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input">
                                    </div>
                                    <div class="field-hint">
                                        Пароль должен состоять как минимум из 6-ти знаков и содержать хотя бы одну цифру.
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-title">
                                        Имя
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input">
                                    </div>
                                </div>
                                <input type="submit" class="button button_big button_accent" value="ЗАРЕГЕСТРИРОВАТЬСЯ">
                                <div class="field-hint register-form__hint">
                                    Нажимая на кнопку «Зарегистрироваться» даю согласие на обработку моих персональных данных.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth-modal-reset-container" id="reset-passw-drawer">
                <form class="form reset-passw-form">
                    <div class="form-title">
                        Восстановление пароля
                    </div>
                    <div class="input-box">
                        <input class="input" placeholder="E-mail">
                    </div>
                    <div class="reset-passw-form__text">
                        Укажите адрес эл. почты, который вы использовали при оформлении заказов на ПрезидентВотчес. 
                        Мы вышлем вам инструкцию по восстановлению пароля.
                    </div>
                    <div>
                        <input type="submit" class="button button_big button_accent" value="ВОССТАНОВИТЬ ПАРОЛЬ">
                        <a class="link link_underscored reset-passw-form__cancel" href="#" id="reset-passw-cancel">
                            Вспомнил пароль
                        </a>
                    </div>
                </form>
            </div>
            <div class="modal-close-overlay" id="auth-overlay" href="#">
            </div>
        </div>
        {% endblock modals %}

        {% block javascript %}
        <script src="{{ static('js/common.js') }}"></script>
        {% endblock javascript %}
    </body>
</html>
