<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="author"    lang="ru" content="www.presidentwatches.ru"/>
        <meta name="copyright" lang="ru" content="© 2018 Интернет-магазин ПрезидентВотчес"/>

        {% block meta %}
        <title></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% endblock meta %}

        {% block open_graph %}
        {% endblock open_graph %}

        {% block open_graph_image %}
        {% endblock open_graph_image %}

        {% block favicons %}
        {% endblock favicons %}

        {% block css %}
        <link rel="stylesheet" href="{{ static('css/styles.css') }}" />
        {% endblock css %}

        {% block script_head %}
        <script src="{{ static('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ static('js/main.js') }}"></script>
        {% endblock script_head %}
    </head>

    <body class="page">
        <div class="side-menu">
        </div>
        <div class="side-catalog">
        </div>
        <div class="page__content">
            <div class="page__content-top">
                {% block header %}
                    {% include "blocks/header.html" %}
                {% endblock header %}

                {% block content %}
                {% endblock content %}

            </div>
            <div class="page__content-bottom">
                {% block footer %}
                    {% include "blocks/footer.html" %}
                {% endblock footer %}
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar__inner">
                <div class="sidebar-tabs sticky">
                    <ul class="sidebar-nav">
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link active" href="#viewed">
                                <i class="icon icon_eye">
                                </i>
                            </a>
                        </li>
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link" href="#favorites">
                                <i class="icon icon_heart-stroke">
                                </i>
                            </a>
                        </li>
                        <li class="sidebar-nav-tab">
                            <a class="sidebar-link" href="#cart">
                                <i class="icon icon_cart">
                                </i>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-outlet">
                        <div class="sidebar-pane active" id="viewed">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Вы смотрели
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                        </div>
                        <div class="sidebar-pane" id="favorites">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Избранное
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                        </div>
                        <div class="sidebar-pane" id="cart">
                            <div class="sidebar-pane-heading">
                                <div class="heading-2 bold">
                                    Корзина
                                </div>
                                <span class="sidebar-pane-count">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block modals %}
        <div class="page-overlay" id="page-overlay">
        </div>
        {% endblock modals %}

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
