.delivery {

}

.delivery-content {
    margin-bottom: 40px;
}

.delivery-logo {
    display: none;
    @include mq($from: tablet) {
        display: inline-block;
    }
}

.delivery-city {
    max-width: 300px;
    margin-bottom: 10px;
    .city-choice {
        max-width: 100%;
    }
}

.delivery-city-input {
    background: $white;
    color: $black;
    line-height: 36px;
    .city-choice {
        font-size: 14px;
        text-transform: none;
    }
}

.delivery-heading {
    background: $light-grey;
    padding: 20px 0px;
    @include mq($from: tablet) {
        padding: 30px 0px;
    }
    @include mq($from: desktop) {
        padding: 40px 0px;
    }
    @include mq($from: wide) {
        padding: 50px 0px;
    }
}

.delivery-title {
    font-size: 26px;
    margin-bottom: 10px;
    .caption {
        display: block;
        font-size: 12px;
        font-weight: 500;
    }
}

.delivery-label {
    margin-bottom: 6px;
}

.delivery-map {
    height: 420px;
    width: 100%;
}

.delivery-loader {
    text-align: center;
    img {
        height: 80px;
        width: auto;
    }
}

.delivery-map-loader {
    text-align: center;
    line-height: 400px;
    img {
        height: 100px;
        width: auto;
    }
}

.delivery-payment {
    margin-top: 30px;
    font-size: 14px;
    .list {
        padding-left: 20px;
    }
}