.auth-modal {
    .tabs-nav-item {
        padding-right: 20px;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    @include mq($from: tablet) {
        overflow-y: hidden;
    }
}

.auth-modal-container {
    position: absolute;
    top: 0px;
    right: 0px;
    min-height: 100%;
    min-height: 100vh;у 
    width: 100%;
    padding: 10px;
    background: $white;
    transform: translateX(100%);
    transition: transform .45s cubic-bezier(.19,1,.22,1);
    @include mq($from: tablet) {
        padding: 50px;
        width: 520px;
    }
}

.auth-modal-reset-container {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: $white;
    transform: translateX(100%);
    transition: transform .45s cubic-bezier(.19,1,.22,1);
    @include mq($from: tablet) {
        width: 520px;
        padding: 50px;
    }
}

.auth-modal-enter {
    min-width: 140px !important;
    @include mq($from: tablet) {
        min-width: 205px !important;
    }
}

.auth-modal-reset-container.active {
    transform: translateX(0);
}

.auth-modal-container.active {
    transform: translateX(0);
}

.form-input-box {
    width: 100%;
}

.login-form {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
    @include mq($from: tablet) {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

.login-form__reset {
    margin-left: 20px;
}



.social-auth {
    display: flex;
    height: 46px;
    width: 214px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq($from: tablet) {
        height: 102px;
        width: 100%;
    }
}

.social-auh-button {
    color: $white;
    border: none;
    text-align: left;
    height: 46px;
    width: 46px;
    padding: 0px;
    min-width: 46px;
    text-align: center;
    .icon {
        display: inline-block;
    }
    span {
        display: none;
    }
    @include mq($from: tablet) {
        text-align: left;
        width: 205px;
        min-width: 205px;
        padding: 0px 20px;
        span {
            display: inline;
        }
    }
}

.button_fb {
    background-color: #4967a8;
    margin-bottom: 10px;
}

.button_vk {
    background-color: #4a75a8;
    margin-bottom: 10px;
}

.button_google {
    background-color: #df6359;
}

.button_mail {
    background-color: #134785;
}

.register-form {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid $grey;
    @include mq($from: tablet) {
        padding-top: 30px;
        margin-top: 30px;
    }
}

.register-form__hint {
    margin-top: 10px;
}

.auth-modal-reset-container {
    display: flex;
    align-items: center;
}

.reset-passw-form {

}

.reset-passw-form__text {
    margin-bottom: 14px;
    line-height: 1.5;
}

.reset-passw-form__cancel {
    margin-left: 20px;
}