.filter {
    font-size: 14px;
    border-bottom: 1px solid $grey;
    user-select: none;
    .icon {
        transition: transform .45s cubic-bezier(.19,1,.22,1);
    }
}

.filter.active {
    .filter-panel {
        max-height: 352px 
    }
    .icon_chevron-down {
        transform: rotate(180deg);
    }
}

.filter-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px;
    cursor: pointer;
}

.filter-panel {
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.filter-panel.active {
    display: block;
    height: auto;
}

.filter-values-list {
    max-height: 352px !important;
    margin-top: 10px;
    padding-right: 10px;
}

.filter-value {
    min-height: 38px;
    width: 100%;
    margin-bottom: 6px;
    padding: 9px 10px 9px 10px;
    line-height: 1.33;
    border-radius: 4px;
    border: 1px solid $grey;
    cursor: pointer;
}




