.mobile-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

.mobile-menu__container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: percentage(9/12);
    height: 100%;
    padding-top: 60px;
    background: $white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .45s cubic-bezier(.19,1,.22,1);
}

.mobile-menu__container.active { 
    transform: translateX(0);
}

.mobile-header {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background: $white;
    border-bottom: 1px solid $grey;
    z-index: 10000;
}

.mobile-header__close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 53px;
    font-size: 21px;
    border-right: 1px solid $grey;
}

.mobile-header__right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}


.mobile-header__auth {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    .icon {
        font-size: 15px;
        margin-right: 6px;
    }
}

.mobile-header__controls {
    display: flex;
    padding: 0px 20px;
    .control-button {
        margin-right: 20px;
        &:last-of-type {
            margin-right: 0px;
        }
    }
    .icon {
        font-size: 15px;
    }
}

.mobile-menu__main-links {
    padding-top: 24px;
    .nav-list-item {
        height: auto;
        border-bottom: none;
        line-height: normal;
        margin-bottom: 18px;
    }
    .icon {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 10px;
        text-align: center;
        line-height: 20px;
    }
}

.mobile-menu__footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
}

.social-footer {
    height: 100%;
    display: flex;
}

.social-footer-item {
    flex-grow: 1;
    height: 100%;
    width: percentage(1/3);
    line-height: 40px;
    text-align: center;
    border-left: 1px solid $grey;
    border-top: 1px solid $grey;
    @include bold();
    .icon {
        height: 100%;
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
    }
    &:first-of-type {
        border-left: none;
    }
}

.mobile-menu-overlay {
    height: 100%;
    float: right;
    width: 25%;
}