.mobile-sorting {
    padding: 20px 10px;
}

.mobile-sorting-title {
    font-size: 14px;
    margin-bottom: 6px;
}

.sorting-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.sorting-list-item {
    color: $dark-grey;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    .icon {
        font-size: 9px;
        display: inline-block;
        margin-left: 2px;
    }
}

.sorting-list-item.active {
    color: $black;
}