.product-page {

}

.product-front-wrap {
    position: relative !important;
    height: 300px;
    @include mq($from: tablet) {
        height: 276px;
    }
    @include mq($from: desktop) {
        height: 360px;
    }
    @include mq($from: wide) {
        height: 540px;
    }
}

.product-front-badges {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    @include mq($from: tablet) {
        top: 0px;
        left: 0px;
    }
}

.product-badge {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    @include mq($from: tablet) {
        padding: 0px 20px;
        font-size: 18px;
        line-height: 36px;
        height: 36px;
    }
}

.product-badge-sale {
    background: $red;
}

.product-main__old-price {
    float: left;
    font-size: 18px;
    margin-left: 10px;
    color: $dark-grey;
    @include mq($from: tablet) {
        margin-top: 3px;
        font-size: 24px;
    }
}

.title-area-product {
    display: none;
    @include mq($from: tablet) {
        display: block;
    }
}

.product-front__main-img-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    @include mq($from: tablet) {
        height: 276px;
        left: 59px;
        padding: 10px 0px;
        padding-right: 59px;
    }
    @include mq($from: desktop) {
        height: 360px;
        left: 66px;
        padding: 0px;
        padding-right: 66px;
    }
    @include mq($from: wide) {
        height: 540px;
        left: 70px;
        padding: 0px;
        padding-right: 70px;
    }
}

.product-front__main-img {
    height: 100%;
    width: auto;
}


.product-front__img-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: white;
    z-index: 0;
    opacity: 0;
    will-change: opacity;
    overflow: hidden;
    padding: 10px 0px 56px 0px;
    @include mq($from: tablet) {
        padding: 0px;
        padding-right: 59px;
    }
    @include mq($from: desktop) {
        padding-right: 66px;
    }
    @include mq($from: wide) {
        padding-right: 70px;
    }
}

.product-front__img-link.active {
    z-index: 100;
    opacity: 1;
}

.product__top {
    @include mq($from: tablet) {
        padding: 0px 38px;
        margin-bottom: 30px;
    }
    @include mq($from: desktop) {
        padding: 0px 50px;
        margin-bottom: 40px;
    }
    @include mq($from: wide) {
        padding: 0px 70px;
    }
}

.product-front {
    position: relative;
    padding: 10px;
    height: 100%;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    overflow: hidden;
    @include mq($from: tablet) {
        border: none;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


.product-main {
    padding: 20px 10px 20px 10px;
    color: black;
    @include mq($from: tablet) {
        padding: 0px;
    }
    @include mq($from: wide) {
        float: left;
        width: percentage(2/3);
        padding-right: 20px;
    }
}

.product-main__model {
    letter-spacing: 0.9px;
    font-size: 12px;
    margin-bottom: 6px;
    @include mq($from: tablet) {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.product-main__name {
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: normal;
    margin-bottom: 10px;
    @include mq($from: tablet) {
        height: 30px;
        margin-bottom: 6px;
        font-size: 24px;
        line-height: 30px;
    }
    @include mq($from: desktop) {
        margin-bottom: 16px;
    }
}

.product-main__price-area {
    margin-bottom: 10px;
    @include mq($from: desktop) {
        margin-bottom: 20px;
    }
}

.product-main-interactions {
    margin-bottom: 20px;
}

.product-main__price {
    float: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    @include mq($from: tablet) {
        font-size: 36px;
    }
}

.product-main__buttons {
    margin-bottom: 20px;
    @include mq($from: desktop) {
        margin-bottom: 30px;
    }
}

.product-main__notavailable {
    font-size: 20px;
}

.product-main__button {
    width: 100%;
    @include mq($from: tablet) {
        width: 214px;
        padding: 0px 16px;
        font-size: 14px;
        letter-spacing: 1px;
        overflow: hidden;
    }
    @include mq($from: desktop) {
        width: auto;
    }
    @include mq($from: wide) {
        width: 215px;
    }
}

.product-main__one-click  {
    display: none;
    margin-left: 10px;
    @include mq($from: desktop) {
        min-width: auto !important;
        display: inline-block;
        padding: 0px 20px;
        letter-spacing: 1px;
    }
}

.product-main__info-block {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.43;
}

.product-main__info-block-title {
    margin-bottom: 4px;
}

.product-main__info-block-text {
    margin-bottom: 2px;
}

.product-controls {
    @include mq($from: wide) {
        float: left;
        width: 33.33%;
    }
}

.product-controls__block {
    position: relative;
    height: 106px;
    width: 100%;
}

.product__tabs {
    width: 100%;
}

.card-footer__mobile {
    padding: 0px 10px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
    .panel-group {
        border-bottom: 1px solid $grey;
    }
    @include mq($from: tablet) {
        display: none;
    }
}

.card-footer {

}

.card-footer__left {
    float: left;
    @include mq($from: desktop) {
        width: 100%;
    }
}

.card-footer__right {
    float: left;
}

.videos {
    width: 100%;
    margin-bottom: 30px;
}

.video {
    height: 240px;
    width: 100%;
    @include mq($from: wide) {
        height: 359px;
    }
}

.card-videos {
    width: 100%;
}

.card-description {
    max-width: 738px;
}

.product-like {
    .icon_heart {
        &:before {
            content: $icon-heart-stroke;
        }
    }
}

.product-like.active {
    .icon_heart {
        color: $red;
        &:before {
            content: $icon-heart-fill;
        }
    }
}

.description-block {
    margin-bottom: 20px;
    .title {
        margin-bottom: 10px;
    }
}

.product-main__reviews-count {
    cursor: pointer;
    user-select: none;
}

.product-card__show-descr {
    cursor: pointer;
    user-select: none;
}