.sidebar {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: white;
    z-index: 300;
    overflow: hidden;
    @include mq($from: desktop) {
        display: block;
        height: 100vh;
        height: 100%;
        width: 60px;
    }
    @include mq($from: maximum) {
        width: 320px;
    }
}

.sidebar__inner {
    height: 100%;
    width: 100%;
    padding-top: 40px;
}

.sidebar.active {
    width: 320px;
    .sidebar-tabs {
        width: 320px;
        padding: 0px 20px 0px 20px;
    }
    .sidebar-nav {
        height: 80px;
    }
    .sidebar-nav-tab {
        float: left;
        height: 100%;
        line-height: 80px;
        width: percentage(1/3);
    }
    .sidebar-nav-count {
        width: auto;
        left: 60px;
        bottom: 30px;
    }
    .sidebar-outlet {
        display: block;
    }
    .sidebar-link {
        border-bottom: 1px solid $grey;
    }
    .sidebar-link.active {
        border-bottom: 1px solid black;
    }
}

.sidebar-tabs {
    top: 0px;
    height: 100%;
    height: 100vh;
    width: 60px;
    padding: 14px 0px;
    border-left: 1px solid $grey;
    background: white;
    .icon {
        display: inline-block;
        font-size: 18px;
    }
    z-index: 500;
    @include mq($from: maximum) {
        width: 320px;
        padding: 0px 20px 0px 20px;
    }
}

.sidebar-nav {
    @include row();
    @include mq($from: maximum) {
        height: 80px;
    }
}

.sidebar-nav-tab {
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    @include mq($from: maximum) {
        float: left;
        height: 100%;
        line-height: 80px;
        width: percentage(1/3);
    }
}

.sidebar-nav-count {
    position: absolute;
    height: 20px;
    width: 100%;
    text-align: center;
    line-height: normal;
    font-size: 11px;
    bottom: 4px;
    left: 0px;
    @include mq($from: maximum) {
        width: auto;
        left: 60px;
        bottom: 30px;
    }
}

.sidebar-pane {
    display: none;
    background: white;
}

.sidebar-pane.active {
    display: block;
}

.sidebar-outlet {
    display: none;
    padding: 20px 0px;
    @include mq($from: maximum) {
        display: block;
    }
}

.sidebar-link {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
    @include mq($from: maximum) {
        border-bottom: 1px solid $grey;
    }
}

.sidebar-link.active {
    @include mq($from: maximum) {
        border-bottom: 1px solid black;
        cursor: default;
    }
}

.sidebar-pane-title {
    margin-bottom: 0px;
    line-height: normal;
    float: left;
}

.sidebar-pane-heading {
    margin-bottom: 10px;
}

.sidebar-pane-count {
    float: left;
    padding-top: 4px;
    user-select: none;
    margin-left: 10px;
}

.sidebar-pane-clear {
    padding-top: 4px;
    float: right;
    cursor: pointer;
}

.sidebar-card {
    height: 100px;
    padding: 10px 0px;
    border-bottom: 1px solid $grey;
}

.sidebar-pane-footer {
    position: fixed;
    bottom: 40px;
    right: 0px;
    width: 320px;
    padding: 27px 20px 20px 20px;
    border-top: 1px solid $grey;
}

.sidebar-overall {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.sidebar-submit-area {
    display: flex;
    justify-content: space-between;
}

.sidebar-promo {
    height: 36px;
    width: 145px;
    input {
        height: 100%;
    }
}
