{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            О компании
            </a>
        </div>
        <h1 class="title">
            О компании ПрезидентВотчес
        </h1>
    </div>
</div>

<div class="info-page">
    <div class="content-area content-area_block">
        <div class="info-page-content">
            <div>
                <p class="bold">
                Интернет магазин наручных часов PresidentWatches.Ru 
                основан в 2012 году выпускниками экономического 
                факультета МГУ им. М.В. Ломоносова. 
                Более 200 тысяч человек уже стали 
                обладателями часов, сделав выбор 
                в пользу нашего магазина.
                </p>
                <p>
                PresidentWatches.Ru специализируется на продаже оригинальных 
                наручных часов от ведущих мировых брендов. 
                В ассортименте магазина более 30 тысяч моделей 
                часов ведущих мировых брендов: Casio, 
                Citizen, Fossil, DKNY, Diesel, Atlantic, 
                Jacques Lemans и многих других.
                </p>
                <div class="list-block">
                    <div class="list-block-title bold">
                    Наши преимущества:
                    </div>
                    <ul class="list">
                        <li class="list-item">
                        Широкий ассортимент часов в наличии.
                        </li>
                        <li class="list-item">
                        Часы от официального дистрибьютера в России.
                        </li>
                        <li class="list-item">
                        Возможность забрать или заказать курьером часы в Москве, 
                        Санкт-Петербурге и других регионах России. Без предоплаты.
                        </li>
                        <li class="list-item">
                        Множество бесплатных вариантов связаться с нами.
                        </li>
                        <li class="list-item">
                        Каждому покупателю мы дарим один год дополнительной гарантии.
                        </li>
                        <li class="list-item">
                        Постоянно действующие скидки и акции.
                        </li>        
                    </ul>
                </div>
                <p>
                Ежедневно мы доставляем десятки часов нашим клиентам, 
                также многие клиенты забирают часы из наших многочисленных 
                пунктов выдачи заказов.
                </p>
                <p>
                Вы можете выбрать и купить мужские наручные часы, 
                женские, детские - и все это, не выходя из дома и офиса. 
                Закажите на сайте Presidentwatches.Ru - мы доставим часы 
                в любое место в любое удобное Вам время!
                </p>
                <p>
                Наш успех завязан на продолжительных доверительных 
                отношениях с каждым клиентом. PresidentWatches.Ru 
                предлагает Вам сочетание широкого выбора, 
                демократичных цен и качественного обслуживания. 
                Бесплатная доставка и широкая сеть пунктов самовывоза 
                позволяет Вам получить наручные часы в любом 
                удобном для Вас месте. На весь товар 
                мы предоставляем дополнительный год 
                гарантии, так как на 100% уверены в его высоком качестве.
                </p>
                <p>
                В дополнение к нашему ассортименту наручных часов, 
                Вы можете проконсультироваться по телефону или 
                прямо на сайте со специалистами. 
                Мы поможем сделать Вам окончательный выбор. 
                Также мы открыты для ваших ценных замечаний, 
                чтобы сделать впечатления от покупок на 
                PresidentWatches.Ru действительно незабываемыми.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}