{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Контакты
            </a>
        </div>
        <h1 class="title">
        Контакты
        </h1>
        <p class="bold disclaimer">
        Заказы принимаются на сайте круглосуточно
        </p>
    </div>
</div>

<div class="info-page info-page-contacts">
    <div class="content-area content-area_block">

        <div class="info-page-content">
            <div class="info-page-block">
                <table class="table table-bordered">
                <thead>
                <tr>
                <th>Регион</th>
                <th>Контактный телефон</th>
                <th>Электронная почта</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Москва</td>
                <td><a href="tel:+74956680985">+7 (495) 177-5736</a></td>
                <td><a href="mailto:clientservice@presidentwatches.ru">clientservice@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Санкт-Петербург</td>
                <td><a href="tel:+78123098463">+7 (812) 629-7095</a></td>
                <td><a href="mailto:spb@presidentwatches.ru">spb@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Краснодар</td>
                <td><a href="tel:+78612034569">+7 (861) 204-0903</a></td>
                <td><a href="mailto:krasnodar@presidentwatches.ru">krasnodar@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Екатеринбург</td>
                <td><a href="tel:+73433182495">+7 (343) 302-2337</a></td>
                <td><a href="mailto:ekb@presidentwatches.ru">ekb@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Новосибирск</td>
                <td><a href="tel:+73832804371">+7 (383) 312-1801</a></td>
                <td><a href="mailto:ekb@presidentwatches.ru">nsk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Нижний Новгород</td>
                <td><a href="tel:+78314291747">+7 (831) 235-1018</a></td>
                <td><a href="mailto:ekb@presidentwatches.ru">nn@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Единый по России</td>
                <td><a href="tel:88007776072">8 800 777 60 72</a></td>
                <td>&nbsp;</td>
                </tr>
                </tbody>
                </table>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Розничные магазины в Москве
                </div>
                <div class="contacts-shop">
                    <div class="contacts-shop-title bold">
                    Магазин "ПрезидентВотчес.Ру" ТЦ "РоллХолл" на Тульской
                    </div>
                    <div class="contacts-shop-content">
                    Адрес: <i class="icon icon_metro"></i> Тульская, Торговый центр
                    "РоллХолл" Холодильный переулок, 3, Ряд 4,
                    <br>
                    Бутик 79-80
                    <br>
                    Телефон: <a class="link" href="tel:89645688600">8&nbsp;(968)&nbsp;364-68-11</a>
                    <br>
                    Мы работаем с 10:00 до 21:00
                    </div>
                    <a class="button button_big button_accent"
                        href="/info/offline-shops/"
                    >
                    ПОДРОБНЕЕ О МАГАЗИНЕ
                    </a>
                </div>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Центральный офис в Москве
                </div>
                <div class="contacts-map-wrap">
                    <p>
                        <i class="icon icon_metro"></i>
                        Кожуховская, ул. Южнопортовая 5с1
                        <br>
                        Телефон: <a href="tel:74959845150">+7 (495) 984-51-50</a>
                    </p>
                    <div class="contacts-shop-map">
                        <div><span class="ya-map-constructor"><script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=d34a3f12a78fd1b780cf51d17c388ea40858a03be53314286b7c7fd245eeb5e6&width=696&height=450"></script></span></div>
                    </div>
                </div>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Офисы-партнеры в России:
                </div>
                <p>
                В офисах наших партнеров Вы можете вернуть 
                приобретенный у нас товар. Предварительно 
                Вам надо написать нам на почту или позвонить 
                по телефону на сайте.
                </p>
                <table class="table table-bordered">
                <thead>
                <tr>
                <th width="18%">Регион</th>
                <th width="22%">Контактный телефон</th>
                <th>Адрес</th>
                <th>Электронная почта</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Санкт-Петербург</td>
                <td><a href="tel:78123098463">+7 (812) 629-7095&nbsp;</a></td>
                <td>
                <div>г. Санкт-Петербург, пр-т Лиговский, 50, корп.13, 101а</div>
                <div>Режим работы:&nbsp;Пн-Пт 08:00-21:00</div>
                </td>
                <td><a href="mailto:spb@presidentwatches.ru">spb@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Краснодар</td>
                <td><a href="tel:78612034569">+7 (861) 204-0903</a></td>
                <td>г.Краснодар, ул.&nbsp;Байбакова, 21<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:krasnodar@presidentwatches.ru">krasnodar@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Екатеринбург</td>
                <td><a href="tel:73433182495">+7 (343) 302-2337</a></td>
                <td>
                <div>г. Екатеринбург, ул. Вайнера, 51б, 1-5</div>
                <div>Режим работы: Пн-Пт 10:00-20:00</div>
                </td>
                <td><a href="mailto:ekb@presidentwatches.ru">ekb@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Новосибирск</td>
                <td><a href="tel:73832804371">+7 (383) 312-1801</a></td>
                <td>г. Новосибирск, ул.Зорге, 1а<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:nsk@presidentwatches.ru">nsk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Нижний Новгород</td>
                <td><a href="tel:78314291747">+7 (831) 235-1018</a></td>
                <td>г. Нижний Новгород, ул.Левобережная, 1<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:nn@presidentwatches.ru">nn@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Казань</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>г.&nbsp;Казань, ул. Спартаковская, 2, 112<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:kazan@presidentwatches.ru">kazan@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Челябинск</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>г.&nbsp;Челябинск, Ул. Пушкина, 25<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:chlb@presidentwatches.ru">chlb@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Омск</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Омск, ул. Нефтезаводская, 30А<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:omsk@presidentwatches.ru">omsk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Самара</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Самара, пр-т Кирова, 201<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:smr@presidentwatches.ru">smr@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Ростов-на-Дону</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Ростов-на-Дону, ул. Таганрогская, 112А<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:rnd@presidentwatches.ru">rnd@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Волгоград</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Волгоград, ул. Дегтярева, 1<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:vlggrd@presidentwatches.ru">vlggrd@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Уфа</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Уфа, ул.40 лет Октября, 7<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00&nbsp;</td>
                <td><a href="mailto:ufa@presidentwatches.ru">ufa@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Воронеж</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Воронеж, ул. Остужева, 28<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:vrnzh@presidentwatches.ru">vrnzh@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Красноярск</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Красноярск, ул. Быковского, 11А, 1<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:krsnrsk@presidentwatches.ru">krsnrsk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Пермь</td>
                <td>&nbsp;<a href="tel:88007776072">8 800 777 60 72</a>
                </td>
                <td>&nbsp;г.&nbsp;Пермь, ул. Светлогорская, 11, 3<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:perm@presidentwatches.ru">perm@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Балашиха</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Балашиха, ул. Кольцевая, 14<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:blshkh@presidentwatches.ru">blshkh@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Подольск</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Подольск, ш. Домодедовское , 10<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:pdlsk@presidentwatches.ru">pdlsk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Химки</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Химки, ул. Кирова, 10 корпус 2<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:khmk@presidentwatches.ru">khmk@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Мытищи</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Мытищи, ул.Борисовка, 24<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:mtsch@presidentwatches.ru">mtsch@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Люберцы</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Люберцы, пр-т Комсомольский, 10/1<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:lbrts@presidentwatches.ru">lbrts@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Королёв</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Королев, ул. Исаева, 9<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:krlv@presidentwatches.ru">krlv@presidentwatches.ru</a></td>
                </tr>
                <tr>
                <td>Московская область, Красногорск</td>
                <td>&nbsp;<a href="tel:+74956680985">+7 (495) 177-5736</a>
                </td>
                <td>&nbsp;г.&nbsp;Красногорск, ул. Ленина, 30 А<br>Режим работы:&nbsp;Пн-Пт 10:00-20:00</td>
                <td><a href="mailto:krsngrsk@presidentwatches.ru">krsngrsk@presidentwatches.ru</a></td>
                </tr>
                </tbody>
                </table>

            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                    Юридическая информация
                </div>
                <p>
                Общество с ограниченной ответственностью "АВАНГАРД-РИТЕЙЛ"
                </p>
                <p>
                Юридический адрес: 111024, Москва, ул. Авиамоторная дом 50 стр 2 пом XIVком 50
                </p>
                <p>
                ОГРН 1167746813156
                </p>
                <p>
                ИНН 7722374086
                </p>
            </div>

        </div>

    </div>
</div>

{% endblock content %}