{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Пункты самовывоза
            </a>
        </div>
        <h1 class="title">
        Пункты самовывоза
        </h1>
    </div>
</div>
{% endblock content %}