{% extends "base.html" %}

{% block content %}
<div class="delivery">

    <div class="delivery-heading">
        <div class="content-area content-area_block">
            <h1 class="title delivery-title">
                Доставка товаров <span class="hide-mb">ПрезидентВотчес</span>
            </h1>
            <div class="delivery-controls">
                <div class="delivery-city field city-choice">
                    <div class="field-label">
                    Город
                    </div>
                    <div class="field-value field-value_city cityname" id="city-name">
                    {{request.user.city_name}}
                    </div>
                </div>
                <div class="field">
                    <div class="field-label">
                    Способ доставки
                    </div>
                    <ul class="delivery-options row">
                        <li class="delivery-option">
                            <input type="radio"
                                id="radio-1" 
                                name="delivery" 
                                value="curier"
                                checked
                            />
                            <label for="radio-1">
                                <div class="rarefied">
                                    КУРЬЕРОМ
                                </div>
                                <div class="grey" id="price-curier">
                                </div>
                                <div class="grey" id="time-curier">
                                </div>
                            </label>
                        </li>
                        <li class="delivery-option">
                            <input type="radio"
                                id="radio-2" 
                                name="delivery" 
                                value="points"
                                checked
                            />
                            <label for="radio-2">
                                <div class="rarefied">
                                    ПУНКТЫ ВЫДАЧИ
                                </div>
                                <div class="grey" id="price-points">
                                </div>
                                <div class="grey" id="time-points">
                                </div>
                            </label>
                        </li>
                        <li class="delivery-option">
                            <input type="radio"
                                id="radio-3" 
                                name="delivery" 
                                value="rupost"
                            />
                            <label for="radio-3">
                                <div class="rarefied">
                                    ПОЧТОЙ
                                </div>
                                <div class="grey" id="price-rupost">
                                </div>
                                <div class="grey" id="time-rupost">
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area content-area_block">
        <div class="delivery-outlet" id="delivery-outlet">
        </div>
    </div>

    <div class="delivery-loader" id="delivery-loader">
        <img src="{{ static('assets/placeholder.svg') }}">
    </div>

</div>
{% endblock content %}

{% block javascript %}
    {{ super() }}
    <script src="{{ static('js/deliveryAndPayment.js') }}"></script>
{% endblock javascript %}

{% block subscribes %}
{% endblock subscribes %}