{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Гарантии
            </a>
        </div>
        <h1 class="title">
        Гарантии
        </h1>
    </div>
</div>

<div class="info-page">
    <div class="content-area content-area_block">
        <div class="info-page-content">
        
            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Фирменный гарантийный талон – гарантия оригинальности.
                </div>
                <p>
                В комплекте с часами идет фирменный гарантийный 
                талон, по которому Вы можете получить 
                гарантийное обслуживание, 
                в нем будет стоять наша печать и подпись, 
                а так же прописана дата продажи и название модели часов.
                </p>
                <p>
                Дополнительный год гарантии начинает 
                действовать по истечению срока основной гарантии. 
                В течение этого года, если с Вашими часами произойдет поломка, 
                признанная официальным сервисным центром производственным 
                браком (гарантийным случаем), мы за свой счет 
                отремонтируем Ваши часы. Бесплатный ремонт 
                осуществляется при обязательном соблюдении 
                условий эксплуатации, указанных в гарантийном талоне.
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Простота и прозрачность обмена и возврата товара.
                </div>
                <p>
                Вы можете обменять или вернуть товар купленный в 
                нашем магазине в течение 30 дней, а не 7, как 
                того требует 26.1 ФЗо защите прав потребителей. 
                <span class="bold">Вернуть товар можно из любого региона России.</span>
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Мы гарантируем, что товар дойдёт в целости и сохранности.
                </div>
                <p>
                Будьте уверены, что с Вашими часами, 
                в пути ничего не произойдёт, мы 
                очень надёжно упаковываем каждый заказ в 
                воздушно-пузырчатую плёнку прежде чем 
                запаковать товар в сейф-пакет или коробку.
                </p>
                
                <div class="guarantees-list-block">

                    <div class="list-block">
                        <div class="list-block-title bold">
                        Чтобы вернуть товар необходимо
                        </div>
                        <ul class="list">
                            <li class="list-item">
                            Товар должен иметь товарный вид 
                            (не срезаны бирки, не подвергался эксплуатации)
                            </li>
                            <li class="list-item">
                            Предоставить документы, 
                            которые шли в комплекте с часами – кассовый чек, 
                            товарный чек, гарантийный талон.
                            </li>
                            <li class="list-item">
                            Предъявить паспорт, а в случае возврата 
                            по почте или курьерской службой, 
                            необходимо приложить ксерокопию первой и 
                            второй страниц паспорта
                            </li>
                            <li class="list-item">
                            Заполнить заявление о возврате денежных средств, 
                            в свободной форме, с указанием реквизитов банковской карты, 
                            на которую нужно вернуть деньги. 
                            Образец заявления на возврат денежных средств.
                            </li>
                        </ul>
                    </div>

                    <div class="list-block">
                        <div class="list-block-title bold">
                        Чтобы обменять товар необходимо
                        </div>
                        <p>
                        1. При обмене товара на более дорогой:
                        </p>
                        <ul class="list">
                            <li class="list-item">
                            Товар должен иметь товарный вид 
                            (не срезаны бирки, не подвергался эксплуатации)
                            </li>
                            <li class="list-item">
                            Предоставить документы, которые шли в 
                            комплекте с часами – кассовый чек, товарный чек, 
                            гарантийный талон
                            </li>
                            <li class="list-item">
                            Доплатить разницу между ценами товаров.
                            </li>
                        </ul>

                        <p>
                        2. При обмене товара на более дешёвый:
                        </p>

                        <ul class="list">
                            <li class="list-item">
                            Товар должен иметь товарный вид (не срезаны бирки, 
                            не подвергался эксплуатации)
                            </li>
                            <li class="list-item">
                            Предоставить документы, которые шли в комплекте с 
                            часами – кассовый чек, товарный чек, гарантийный талон.
                            </li>
                            <li class="list-item">
                            Предъявить паспорт, а в случае возврата по почте или 
                            курьерской службой, необходимо приложить 
                            ксерокопию первой и второй страниц паспорта
                            </li>
                            <li class="list-item">
                            Заполнить заявление о <span class="bold">возврате разницы стоимости 
                            товаров</span>, в свободной форме, с указанием 
                            реквизитов банковской карты, на которую 
                            нужно вернуть деньги. 
                            <a class="link" href="/">
                            Образец заявления на возврат денежных средств.
                            </a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Покупая товар у нас, вы получаете полный комплект документов к часам.
                </div>
                <p>
                Забирая часы из нашего офиса или магазина, 
                а так же при доставке нашим курьером, 
                вы получите полный комплект документов 
                к часам, в том числе кассовый и товарный чек, 
                при оплате картой вы получите 2 
                кассовых чека – один печатается 
                кассовым аппаратом, второй 
                электронным терминалом (терминалом эквайринга)
                </p>
                <p>
                При заказе доставки курьерскими службами СДЭК и СПСР, 
                товарный чек будет находиться внутри сейф-пакета, 
                вы сможете вскрыть пакет при курьере и убедиться в 
                его наличии, кассовый чек вам пробьёт 
                курьер, непосредственно, при оплате заказа
                </p>
                <p>
                При получении заказов в пунктах выдачи или постоматах, 
                кассовый чек пробьёт работник пункта выдачи, либо 
                выдаст постомат, после оплаты товара.
                </p>
                <p>
                При заказе почтой России, вы не сможете вскрыть 
                посылку до оплаты наложенного платежа, 
                кассовый чек выдаст вам работник почтового отделения.
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Отказ от товара
                </div>
                <p>
                Вы можете в любой момент отказаться от покупки товара без объяснения причин, независимо от способа доставки.
                </p>
            </div>
            
            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Предоплата
                </div>
                <p>
                Мы используем ведущего оператора электронных платежей 
                в России систему ASSIST, которая существует с 1998 года 
                и первой стала провайдером платежей по картам VISA и Master Card
                </p>
            </div>

            <div class="guarantees-assets">
                <a class="guarantees-asset" href="{{ static('assets/svid_o_gos_reg.jpg') }}"
                    _target="blank"
                >
                    <img src="{{ static('assets/svid_o_gos_reg.jpg') }}">
                </a
                >
                <a class="guarantees-asset" href="{{ static('assets/svid_o_gos_reg.jpg') }}"
                    _target="black"
                >
                    <img src="{{ static('assets/svid_o_psotanovke_na_uchet.jpg') }}">
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock content %}