{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Политика безопасности
            </a>
        </div>
        <h1 class="title">
        Политика ООО «АВАНГАРД-РИТЕЙЛ» в отношении обработки персональных данных
        </h1>
    </div>
</div>

<div class="info-page">
    <div class="content-area content-area_block">
        <div class="info-page-content">

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Назначение и область действия документа
                </div>
                <p>
                «Политика ООО «АВАНГАРД-РИТЕЙЛ» (далее по тексту также - Общество) 
                в отношении обработки персональных данных» (далее – Политика) 
                определяет позицию и намерения Общества в области обработки 
                и защиты персональных данных, с целью соблюдения и 
                защиты прав и свобод каждого человека и, 
                в особенности, права на неприкосновенность 
                частной жизни, личную и семейную тайну, 
                защиту своей чести и доброго имени.
                </p>
                <p>
                Политика неукоснительно исполняется 
                руководителями и работниками всех структурных 
                подразделений и филиалов ООО «АВАНГАРД-РИТЕЙЛ»
                </p>
                <p>
                Действие Политики распространяется на все персональные 
                данные субъектов, обрабатываемые в 
                Обществе с применением средств автоматизации 
                и без применения таких средств.
                </p>
                <p>
                К настоящей Политике имеет доступ 
                любой субъект персональных данных.
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Определения
                </div>
                <p>
                Персональные данные – любая информация, относящаяся к 
                прямо или косвенно определенному или 
                определяемому физическому лицу (гражданину). 
                Т.е. к такой информации, в частности, 
                можно отнести: ФИО, год, месяц, дата 
                и место рождения, адрес, сведения 
                о семейном, социальном, имущественном положении, 
                сведения об образовании, профессии, 
                доходах, сведения о состоянии здоровья, 
                а также другую информацию.
                </p>
                <p>
                Обработка персональных данных – любое действие (операция) 
                или совокупность действий (операций) с персональными данным, 
                совершаемых с использованием средств автоматизации или без 
                использования таких средств. 
                К таким действиям (операциям) можно отнести: сбор, получение, запись, 
                систематизацию, накопление, хранение, уточнение (обновление, изменение), 
                извлечение, использование, передачу (распространение, предоставление, доступ), 
                обезличивание, блокирование, удаление, уничтожение персональных данных.
                </p>
                <p>
                    Субъекты персональных данных ООО «АВАНГАРД-РИТЕЙЛ» обрабатывает персональные данные следующих лиц:
                    <div class="list">
                        <li class="list-item">
                        работников ООО «АВАНГАРД-РИТЕЙЛ»
                        </li>
                        <li class="list-item">
                        субъектов, с которыми заключены договоры гражданско-правового характера;
                        </li>
                        <li class="list-item">
                        кандидатов на замещение вакантных должностей ООО «АВАНГАРД-РИТЕЙЛ»;
                        </li>
                        <li class="list-item">
                        клиентов ООО «АВАНГАРД-РИТЕЙЛ»;
                        </li>
                        <li class="list-item">
                        зарегистрированных пользователей сайта ООО «АВАНГАРД-РИТЕЙЛ»;
                        </li>
                        <li class="list-item">
                        представителей юридических лиц;
                        </li>
                        <li class="list-item">
                        поставщиков (индивидуальных предпринимателей).
                        </li>
                    </div>
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Принципы и условия обработки персональных данных
                </div>
                <p>
                Под безопасностью персональных данных ООО «АВАНГАРД-РИТЕЙЛ» 
                понимает защищенность персональных данных от неправомерного 
                или случайного доступа к ним, уничтожения, изменения, 
                блокирования, копирования, предоставления, 
                распространения персональных данных, а также от 
                иных неправомерных действий в отношении персональных
                данных и принимает необходимые правовые, 
                организационные и технические меры для
                защиты персональных данных.
                </p>
                <p>
                Обработка и обеспечение безопасности персональных данных в ООО «АВАНГАРД-РИТЕЙЛ» осуществляется в соответствии с требованиями Конституции Российской Федерации, Федерального закона № 152-ФЗ «О персональных данных», подзаконных актов, других определяющих случаи и особенности обработки персональных данных федеральных законов Российской Федерации, руководящих и методических документов ФСТЭК России и ФСБ России.
                </p>
                <p>
                    При обработке персональных данных ООО «АВАНГАРД-РИТЕЙЛ» придерживается следующих принципов:
                    <ul class="list">
                        <li class="list-item">
                        законности и справедливой основы;
                        </li>
                        <li class="list-item">
                        ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;
                        </li>
                        <li class="list-item">
                        недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;
                        </li>
                        <li class="list-item">
                        недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
                        </li>
                        <li class="list-item">
                        обработки персональных данных, которые отвечают целям их обработки;
                        </li>
                        <li class="list-item">
                        соответствия содержания.
                        </li>
                    </ul>
                </p>
                <p>
                    Общество обрабатывает персональные данные только при наличии хотя бы одного из следующих условий:
                    <ul class="list">
                        <li class="list-item">
                        обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
                        </li>
                        <li class="list-item">
                        обработка персональных данных необходима для достижения целей, предусмотренных законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;
                        </li>
                        <li class="list-item">
                        обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
                        </li>
                        <li class="list-item">
                        обработка персональных данных необходима для осуществления прав и законных интересов Общества или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
                        </li>
                        <li class="list-item">
                        осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
                        </li>
                        <li class="list-item">
                        осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
                        </li>
                    </ul>
                </p>

                <p>
                ООО «АВАНГАРД-РИТЕЙЛ» вправе поручить обработку персональных данных граждан третьим лицам, на основании заключаемого с этими лицами договора.
                </p>

                <p>
                Лица, осуществляющие обработку персональных данных по поручению ООО «АВАНГАРД-РИТЕЙЛ», обязуются соблюдать принципы и правила обработки и защиты персональных данных, предусмотренные Федеральным законом № 152-ФЗ «О персональных данных». Для каждого лица определены перечень действий (операций) с персональными данными, которые будут совершаться юридическим лицом, осуществляющим обработку персональных данных, цели обработки, установлена обязанность такого лица соблюдать конфиденциальность и обеспечивать безопасность персональных данных при их обработке, а также указаны требования к защите обрабатываемых персональных данных.
                </p>

                <p>
                В случаях, установленных законодательством Российской Федерации, ООО «АВАНГАРД-РИТЕЙЛ» вправе осуществлять передачу персональных данных граждан.
                </p>

                <p>
                В целях информационного обеспечения в Общества могут создаваться общедоступные источники персональных данных работников, в том числе справочники и адресные книги. В общедоступные источники персональных данных с согласия работника могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты. Сведения о работнике должны быть в любое время исключены из общедоступных источников персональных данных по требованию работника либо по решению суда или иных уполномоченных государственных органов.
                </p>

                <p>
                Общество уничтожает либо обезличивает персональные данные по достижении целей обработки или в случае утраты необходимости достижения цели обработки.
                </p>

            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Права субъекта персональных данных
                </div>

                <p>
                Гражданин, персональные данные которого обрабатываются ООО «АВАНГАРД-РИТЕЙЛ», имеет право получать от ООО «АВАНГАРД-РИТЕЙЛ»:
                </p>

                <ul class="list">
                    <li class="list-item">
                    подтверждение факта обработки персональных данных <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span>;
                    </li>
                    <li class="list-item">
                    правовые основания и цели обработки персональных данных;
                    </li>
                    <li class="list-item">
                    сведения о применяемых <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span> 
                    способах обработки персональных данных;
                    </li>
                    <li class="list-item">
                    наименование и местонахождения ООО «АВАНГАРД-РИТЕЙЛ»;
                    </li>
                    <li class="list-item">
                    сведения о лицах, которые имеют доступ к персональным данным или которым могут быть
                    раскрыты персональные данные на основании договора с <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span> 
                    или на основании федерального закона;
                    </li>
                    <li class="list-item">
                    перечень обрабатываемых персональных данных, относящихся к гражданину,
                    от которого поступил запрос и источник их получения, если иной порядок 
                    предоставления таких данных не предусмотрен федеральным законом;
                    </li>
                    <li class="list-item">
                    сведения о сроках обработки персональных данных, 
                    в том числе о сроках их хранения;
                    </li>
                    <li class="list-item">
                    сведения о порядке осуществления гражданином прав, 
                    предусмотренных Федеральным законом «О персональных данных» № 152-ФЗ;
                    </li>
                    <li class="list-item">
                    информацию об осуществляемой или о предполагаемой трансграничной 
                    передаче персональных данных;
                    </li>
                    <li class="list-item">
                    наименование и адрес лица, осуществляющего обработку персональных 
                    данных по поручению <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span>;
                    </li>
                    <li class="list-item">
                    иные сведения, предусмотренные Федеральным законом 
                    «О персональных данных» № 152-ФЗ или другими федеральными законами;
                    </li>
                    <li class="list-item">
                    требовать уточнения своих персональных данных, их блокирования или уничтожения 
                    в случае, если персональные данные являются неполными, устаревшими, неточными,
                    незаконно полученными или не являются необходимыми для заявленной цели обработки;
                    </li>
                    <li class="list-item">
                    отозвать свое согласие на обработку персональных данных;
                    </li>
                    <li class="list-item">
                    требовать устранения неправомерных действий <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span>
                    в отношении его персональных данных;
                    </li>
                    <li class="list-item">
                    обжаловать действия или бездействие ООО «АВАНГАРД-РИТЕЙЛ» в Федеральную службу по надзору
                    в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) или в 
                    судебном порядке в случае, если гражданин считает, 
                    что <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span> осуществляет обработку 
                    его персональных данных с нарушением требований Федерального 
                    закона № 152-ФЗ «О персональных данных» или иным образом нарушает его права и свободы;
                    </li>
                    <li class="list-item">
                    на защиту своих прав и законных интересов, в том числе на возмещение убытков и/или компенсацию морального вреда в судебном порядке.
                    </li>
                </ul>

            </div>


            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Ответственность
                </div>
                <p>
                В случае неисполнения положений настоящей Политики ООО «АВАНГАРД-РИТЕЙЛ» несет ответственность в соответствии действующим законодательством Российской Федерации.
                </p>
            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ!
                </div>
                <p>
                Получить разъяснения по интересующим Вас вопросам обработки Ваших персональных данных, обратившись лично в ООО «АВАНГАРД-РИТЕЙЛ» либо направив официальный запрос по Почте России по адресу: 111024, Москва, ул. Авиамоторная дом 50 стр 2 пом XIV ком 50
                </p>
                <p>
                    В случае направления официального запроса в ООО «АВАНГАРД-РИТЕЙЛ» в тексте запроса необходимо указать:
                    <ul class="list">
                        <li class="list-item">
                        ФИО;
                        </li>
                        <li class="list-item">
                        номер основного документа, удостоверяющего личность субъекта персональных 
                        данных или его представителя, сведения о дате выдачи указанного 
                        документа и выдавшем его органе;
                        </li>
                        <li class="list-item">
                        сведения, подтверждающие Ваше участие в отношениях с <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span>
                        либо сведения, иным способом подтверждающие факт обработки персональных 
                        данных <span class="bold">ООО «АВАНГАРД-РИТЕЙЛ»</span>;
                        </li>
                        <li class="list-item">
                        подпись гражданина (или его законного представителя). 
                        Если запрос отправляется в электронном виде, то он должен быть оформлен в виде 
                        электронного документа и подписан электронной подписью 
                        в соответствии с законодательством РФ.
                        </li>
                    </ul>
                </p>

                <p>
                На сайте <a class="link" href="http://presidentwatches.ru">www.presidentwatches.ru</a> публикуется актуальная версия «Политики ООО «АВАНГАРД-РИТЕЙЛ» в отношении обработки персональных данных».
                </p>

            </div>

            <div class="info-page-block">
                <div class="info-page-block-title bold">
                Сведения о реализуемых требованиях к защите персональных данных
                </div>
                <p>
                ООО «АВАНГАРД-РИТЕЙЛ» при обработке персональных данных принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
                </p>
                <p>
                    К таким мерам в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» относятся:
                    <ul class="list">
                        <li class="list-item">
                        определение угроз безопасности персональных данных при их обработке в 
                        информационных системах персональных данных;
                        </li>
                        <li class="list-item">
                        применение организационных и технических мер по обеспечению безопасности персональных 
                        данных при их обработке в информационных системах персональных данных, необходимых для 
                        выполнения требований к защите персональных данных, исполнение которых обеспечивает 
                        установленные Правительством Российской Федерации уровни защищенности персональных данных;
                        </li>
                        <li class="list-item">
                        применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации;
                        </li>
                        <li class="list-item">
                        оценка эффективности принимаемых мер по обеспечению безопасности
                        персональных данных до ввода в эксплуатацию информационной 
                        системы персональных данных;
                        </li>
                        <li class="list-item">
                        обнаружение фактов несанкционированного доступа 
                        к персональным данным и принятием мер;
                        </li>
                        <li class="list-item">
                        восстановление персональных данных, модифицированных или 
                        уничтоженных вследствие несанкционированного доступа к ним;
                        </li>
                        <li class="list-item">
                        установление правил доступа к персональным данным, обрабатываемым 
                        в информационной системе персональных данных, а также обеспечением регистрации
                        и учета всех действий, совершаемых с персональными данными
                        в информационной системе персональных данных;
                        </li>
                        <li class="list-item">
                        контроль за принимаемыми мерами по обеспечению безопасности
                        персональных данных и уровня защищенности информационных
                        систем персональных данных;
                        </li>
                        <li class="list-item">
                        учет машинных носителей персональных данных;
                        </li>
                        <li class="list-item">
                        организация пропускного режима на территорию Общества;
                        </li>
                        <li class="list-item">
                        размещение технических средств обработки персональных данных в пределах охраняемой территории;
                        </li>
                        <li class="list-item">
                        поддержание технических средств охраны, сигнализации в постоянной готовности;
                        </li>
                        <li class="list-item">
                        проведение мониторинга действий пользователей, проведение разбирательств
                        по фактам нарушения требований безопасности персональных данных
                        </li>
                    </ul>
                </p>
                <p>
                В целях координации действий по обеспечению безопасности персональных данных в ООО «АВАНГАРД-РИТЕЙЛ» назначены лица, ответственные за обеспечение безопасности персональных данных
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}