{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/promo.css') }}" />
{% endblock css %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Акции
            </a>
        </div>
        <h1 class="title promo-title">
        Промокоды ПрезидентВотчес
        </h1>
        <span class="grey promo-caption">* не распространяется на товары со скидкой<span>
    </div>
</div>

<div class="content-area content-area_block">

    <div class="promo">

        <div class="promo-gallery">
            <div class="row">
                <div class="col col-12 t-col-4">
                    <a class="promo-card" href="/shop/watches/japan/citizen/">
                        <div class="promo-card-content">
                            <div class="promo-card-title">
                            CITIZENPW
                            </div>
                            <div class="promo-card-badge">
                            СКИДКА 28% НА ВСЕ МОДЕЛИ МАРКИ CITIZEN
                            </div>
                        </div>
                        <div class="promo-card-image promo-card-image-1"
                            data-large="{{ static('img/promocodes/CITIZENPW.jpg') }}"
                        >
                        </div>
                        <div class="blackout-filter">
                        </div>
                        <div class="card-fade card-fade-1">
                        </div>
                    </a>
                </div>
                <div class="col col-12 t-col-4">
                    <a class="promo-card" href="/shop/watches/russian/shturmanskie/">
                        <div class="promo-card-content">
                            <div class="promo-card-title">
                            STURMPW
                            </div>
                            <div class="promo-card-badge">
                            СКИДКА 10% НА ВСЕ МОДЕЛИ МАРКИ ШТУРМАНСКИЕ
                            </div>
                        </div>
                        <div class="promo-card-image promo-card-image-5"
                            data-large="{{ static('img/promocodes/STURMPW.jpg') }}"
                        >
                        </div>
                        <div class="card-fade card-fade-3">
                        </div>
                    </a>
                </div>
                <div class="col col-12 t-col-4">
                    <a class="promo-card" href="/shop/watches/other/jacques-lemans/">
                        <div class="promo-card-content">
                            <div class="promo-card-title">
                            LEMANSPW
                            </div>
                            <div class="promo-card-badge">
                            СКИДКА 15% НА ВСЕ МОДЕЛИ МАРКИ Jacques Lemans
                            </div>
                        </div>
                        <div class="promo-card-image promo-card-image-7"
                            data-large="{{ static('img/promocodes/LEMANSPW.jpg') }}"
                        >
                        </div>
                        <div class="card-fade card-fade-3">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 t-col-4">
                    <a class="promo-card" href="/shop/watches/fashion/guess/">
                        <div class="promo-card-content">
                            <div class="promo-card-title">
                            GUESSPW
                            </div>
                            <div class="promo-card-badge">
                            СКИДКА 15% НА ВСЕ МОДЕЛИ МАРКИ Guess
                            </div>
                        </div>
                        <div class="promo-card-image promo-card-image-8"
                            data-large="{{ static('img/promocodes/GUESSPW.jpg') }}"
                        >
                        </div>
                        <div class="card-fade card-fade-1">
                        </div>
                    </a>
                </div>
                <div class="col col-12 t-col-4">
                    <a class="promo-card" href="/shop/watches/swiss/l-duchen/">
                        <div class="promo-card-content">
                            <div class="promo-card-title">
                            DUCHENPW
                            </div>
                            <div class="promo-card-badge">
                            СКИДКА 10% НА ВСЕ МОДЕЛИ МАРКИ L Duchen
                            </div>
                        </div>
                        <div class="promo-card-image promo-card-image-9"
                            data-large="{{ static('img/promocodes/DUCHENPW.jpg') }}"
                        >
                        </div>
                        <div class="card-fade card-fade-2">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock content %}


{% block javascript %}
{{ super() }}
<script src="{{ static('js/promo.js') }}"></script>
{% endblock javascript %}

