{% extends "base.html" %}


{% block content %}
    <div class="aftercheck">
        <div class="content-area content-area_block">
            <h1 class="aftercheck-title">
            Спасибо за ваш заказ!
            </h1>
            <div class="aftercheck-text">
                <p>
                В ближайшее время с Вами свяжутся наши операторы.
                </p>
                <p>
                Номер вашего заказа: <span class="bold">{{order.public_id}}</span>
                </p>
                <p>
                Напоминаем, что магазин работает с 10:00 до 20:00 часов по Московскому времени.
                </p>
            </div>
            <div class="aftercheck-buttons">
                <a class="button button_big button_accent"
                    href="/"
                >
                НА ГЛАВНУЮ
                </a>
                <a class="button button_big button_ghost"
                    href="/shop/watches/mens/"
                >
                МУЖСКИЕ ЧАСЫ
                </a>
                <a class="button button_big button_ghost"
                    href="/shop/watches/women/"
                >
                ЖЕНСКИЕ ЧАСЫ
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
    var PUBLIC_ID = {{order.public_id}};
    var PRODUCTS = [
        {% for item in order.rr_items %}
        {
            Product: {
                productID: "{{item['id']}}",
                category: '1',
                price: {{item['price']}},
                priceCurrency: 'RUB',
            },
            orderQuantity: {{item['qnt']}},
            additionalType: 'sale'
        },
        {% endfor %}
    ];
    var G_ITEMS = [
        {% for item in order.rr_items %}
        {
            "id": "{{item['id']}}",
            "name": "{{item['name']}}",
            "list_name": "Order List",
            "brand": "{{item['brand']}}",
            "category": "{{item['brand']}}",
            "list_position": {{loop.index}},
            "quantity": {{item['qnt']}},
            "price": {{item['price']}},
        },
        {% endfor %}
    ];
    var TOTAL = {{order.total_price}};
    {% if order.rr_email_available %}
    var CUSTOMER_EMAIL = "{{order.customer['email']}}";
    {% else %}
    var CUSTOMER_EMAIL = null;
    {% endif %}
    </script>
    <script src="{{ static('js/aftercheckPage.js') }}"></script>
{% endblock javascript %}