{% extends "base.html" %}

{% block script_head %}
    {{ super() }}
        <script type="text/javascript">
        (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
            try { 
            rrApi.order({
                transaction: "{{order.public_id}}",
                items: [
                    {% for item in order.rr_items %}{ id: {{item['id'] }}, qnt: {{item['qnt']}}, price: {{item['price']}} }{% if not loop.last %},{% endif %}
                {% endfor %}]
            });
            } catch(e) {} 
        })
        {% if order.rr_email_available %}
        (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() { rrApi.setEmail("{{order.customer['email']}}");});
        {% endif %}
        </script>
{% endblock script_head %}

{% block content %}
    <div class="aftercheck">
        <div class="content-area content-area_block">
            <h1 class="aftercheck-title">
            Спасибо за ваш заказ!
            </h1>
            <div class="aftercheck-text">
                <p>
                В ближайшее время с Вами свяжутся наши операторы.
                </p>
                <p>
                Напоминаем, что магазин работает с 10:00 до 20:00 часов по Московскому времени.
                </p>
            </div>
            <div class="aftercheck-buttons">
                <a class="button button_big button_accent"
                    href="/"
                >
                НА ГЛАВНУЮ
                </a>
                <a class="button button_big button_ghost"
                    href="/shop/watches/mens/"
                >
                МУЖСКИЕ ЧАСЫ
                </a>
                <a class="button button_big button_ghost"
                    href="/shop/watches/women/"
                >
                ЖЕНСКИЕ ЧАСЫ
                </a>
            </div>
        </div>
    </div>
{% endblock content %}