{% extends "base_cart.html" %}

{% block content %}
    <div class="title-area">
        <div class="content-area content-area_block">
            <div class="breadcrumbs">
                <a class="breadcrumbs__item breadcrumbs_first" href="/">
                Главная
                </a>
                <span class="breadcrumbs__delimeter">
                /
                </span>
            </div>
            <h1 class="title">
                Корзина
            </h1>
        </div>
    </div>
    {% with cart = session_cart(request) %}
    <div class="cart">

            <div class="row">
                <div class="cart-items w-col-6">
                    <ul class="cart-list" id="cart-list">
                        {% for item in cart.items_list %}
                        <li class="cart-item" data-pk="{{item['pk']}}">
                            <div class="cart-item__img-wrap">
                                <img class="cart-item__img"
                                    src="{{ item['image'] }}"
                                    alt="{{ item['model'] }}"
                                >
                            </div>
                            <div class="cart-item__info">
                                <div class="cart-item__model">
                                    {{ item['model'] }}
                                </div>
                                <div class="cart-item__name">
                                    <span class="cart-item__brand">
                                        {{ item['brand'] }}
                                    </span>
                                    <span class="cart-item__series">
                                        {{ item['series'] }}
                                    </span>
                                </div>
                                <div class="cart-item__controls row">
                                    <div class="quantity-controls row">
                                        <div class="quantity-btn quantity_decrement cart-item__button">
                                            -
                                        </div>
                                        <div class="item-quantity">
                                            {{ item['quantity'] }}
                                        </div>
                                        <div class="quantity-btn quantity_increment cart-item__button">
                                            +
                                        </div>
                                    </div>
                                    <div class="cart-item__subtotal">
                                        {% if item['quantity'] > 1 %}
                                        <div class="cart-item__subtotal-quantity grey">
                                            {{ item['quantity'] }} шт. × <span class="price price_9">{{ item['price'] }}</span>
                                        </div>
                                        {% endif %}
                                        <div class="cart-item__subtotal-price bold">
                                            <span class="price">
                                                {{ item['base_price'] }}
                                            </span>
                                        </div>
                                        <div class="cart-item-sale {% if item['sale'] > 0 %}active{% endif %}">
                                        Скидка <span class="price">{{item['sale']}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="cart-item__favorite">
                                    <i class="icon icon_favorite"></i>
                                </div>
                                <div class="cart-item__delete" data-pk="{{item['pk']}}">
                                    <i class="icon icon_close">
                                    </i>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="cart-items-sum row">
                        <div class="cart-promo">
                            <div class="input-box input-box_combined cart-promo__input-box">
                                <input class="input"
                                    id="cart-promocode"
                                    placeholder="Промокод"
                                    value="{{cart.data['promocode']}}"
                                >
                                <div class="button button_ghost" id="cart-promocode-submit">
                                ПРИМЕНИТЬ
                                </div>
                            </div>
                        </div>
                        <div class="cart-total">
                            <div class="cart-total__overall">
                                <span class="cart-count">{{ cart.data['total_quantity'] }}</span> 
                                товар(а) на сумму: 
                                <span class="price">{{ cart.data['total_price'] }}</span>
                            </div>
                            <div class="cart-total-sale {% if cart.data['total_sale'] > 0 %}active{% endif %}">
                                С учётом общей скидки <span class="price">{{cart.data['total_sale']}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-data w-col-6" id="cart-form">
                    <div class="cart-data-container">
                        <h2 class="heading-2 cart-data__heading">
                            Оформление заказа
                        </h2>
                        <div class="cart-recipient">
                            <h3 class="heading-3 rarefied">
                                ПОЛУЧАТЕЛЬ
                            </h3>
                            <div class="cart-recipient__inputs">
                                <div class="field cart-field cart-recipient__mail cart-receipient__field">
                                    <div class="field-title">
                                        E-mail
                                    </div>
                                    <div class="field-input-box">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.email|length>0 %}
                                        <input class="input" type="email" id="cart-email" disabled value="{{request.user.email}}">
                                        {% else %}
                                        <input class="input" type="email" id="cart-email">
                                        {% endif %}
                                    {% else %}
                                    <input class="input" type="email" id="cart-email">
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="field cart-field cart-recipient__phone cart-receipient__field">
                                    <div class="field-title">
                                        Телефон<span class="asterisk">*</span>
                                    </div>
                                    <div class="field-input-box">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.phone_number|length>0 %}
                                            <input class="input cart-input" id="cart-phone"
                                                placeholder='+7 (___) ___-____'
                                                value="{{request.user.phone_number}}"
                                            >
                                            {% else %}
                                            <input class="input cart-input" id="cart-phone"
                                                placeholder='+7 (___) ___-____'
                                            >
                                            {% endif %}
                                        {% else %}
                                        <input class="input cart-input" id="cart-phone"
                                            placeholder='+7 (___) ___-____'
                                        >
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field cart-field cart-recipient__name cart-receipient__field">
                                    <div class="field-title">
                                        Имя и фамилия
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input" id="cart-name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-delivery">
                            <h3 class="heading-3 rarefied">
                                ДОСТАВКА
                            </h3>
                            <div class="cart-delivery__city-field">
                                <div class="field-title">
                                    Населенный пункт
                                </div>
                                <div class="cart-delivery__city bordered city-choice">
                                    <span class="city-name" id="cart-city">
                                    {{request.user.city_name}}
                                    </span>
                                </div>
                            </div>
                            <ul class="cart-delivery-options radio-group">
                                <li class="radio-group-container">
                                    {% if curier_is_available %}
                                    <input type="radio"
                                        id="radio-1" 
                                        name="delivery" 
                                        value="curier"
                                        checked
                                    />
                                    <label for="radio-1" class="flex-column">
                                        <div class="rarefied">
                                            КУРЬЕРОМ
                                        </div>
                                        <div class="grey">
                                            {{time_filter(delivery_data['curier']['time_min'], delivery_data['curier']['time_max'])}}
                                        </div>
                                    </label>
                                    {% else %}
                                    <input type="radio"
                                        id="radio-1" 
                                        name="delivery" 
                                        value="curier"
                                        disabled
                                    />
                                    <label for="radio-1" class="flex-column">
                                        <div class="rarefied">
                                            КУРЬЕРОМ
                                        </div>
                                        <div class="red">
                                            недоступно
                                        </div>
                                    </label>
                                    {% endif %}
                                </li>
                                {% if delivery_points_is_available %}
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-2" 
                                        name="delivery" 
                                        value="delivery_point"/>
                                    <label for="radio-2" class="flex-column">
                                        <div class="rarefied">
                                            ИЗ ПУНКТА ВЫДАЧИ
                                        </div>
                                        <div class="grey">
                                            {{time_filter(delivery_data['delivery_point']['time_min'], delivery_data['delivery_point']['time_max'])}}
                                        </div>
                                    </label>
                                </li>
                                {% else %}
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-2" 
                                        name="delivery" 
                                        value="delivery_point"
                                        disabled
                                    />
                                    <label for="radio-2" class="flex-column">
                                        <div class="rarefied">
                                            ИЗ ПУНКТА ВЫДАЧИ
                                        </div>
                                        <div class="red">
                                            недоступно
                                        </div>
                                    </label>
                                </li>
                                {% endif %}
                                {% if request.user.city_name == 'Москва' %}
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-3" 
                                        name="delivery" 
                                        value="pickup"/>
                                    <label for="radio-3" class="flex-column">
                                        <div class="rarefied">
                                            САМОВЫВОЗ
                                        </div>
                                        <div class="grey">
                                        завтра/послезавтра
                                        </div>
                                    </label>
                                </li>
                                {% else %}
                                <li class="radio-group-container">
                                    {% if curier_is_available %}
                                    <input type="radio"
                                        id="radio-3" 
                                        name="delivery" 
                                        value="post"
                                    />
                                    {% else %}
                                    <input type="radio"
                                        id="radio-3" 
                                        name="delivery" 
                                        value="post"
                                        checked
                                    />
                                    {% endif %}
                                    <label for="radio-3" class="flex-column">
                                        <div class="rarefied">
                                            ПОЧТОЙ
                                        </div>
                                        <div class="grey">
                                            от 5 до 7 дней
                                        </div>
                                    </label>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="delivery-options-outlet">
                                <div class="field cart-field">
                                    <div class="field-title">
                                        Адрес
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input" id="cart-address">
                                    </div>
                                </div>
                                <div class="field cart-field">
                                    <div class="field-title">
                                        Пожелания
                                    </div>
                                    <div class="field-input-box">
                                        <input class="input" id="client-notes">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-payment">
                            <h3 class="heading-3 rarefied">
                                СПОСОБ ОПЛАТЫ
                            </h3>
                            <ul class="cart-payment-options radio-group">
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-4" 
                                        name="payment" 
                                        value="cash"/>
                                    <label for="radio-4"
                                    >
                                        <i class="icon icon_pay-cash cart-payment-icon cart-payment-icon_1">
                                        </i>
                                        <span class="rarefied">
                                            НАЛИЧНЫМИ ПРИ ПОЛУЧЕНИИ
                                        </span>
                                    </label>
                                </li>
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-5" 
                                        name="payment" 
                                        value="card_offline"/>
                                    <label for="radio-5">
                                        <i class="icon icon_pay-card cart-payment-icon cart-payment-icon_2">
                                        </i>
                                        <span class="rarefied">
                                            КАРТОЙ ПРИ ПОЛУЧЕНИИ
                                        </span>
                                    </label>
                                </li>
                                <li class="radio-group-container">
                                    <input type="radio"
                                        id="radio-6" 
                                        name="payment" 
                                        value="card_online"
                                        />
                                    <label for="radio-6">
                                        <i class="icon icon_pay-online cart-payment-icon cart-payment-icon_3 grey">
                                        </i>
                                        <span class="rarefied">
                                            КАРТОЙ ОНЛАЙН
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="cart-summary">
                            <ul class="cart-sum-list">
                                <li class="cart-sum-item">
                                    <div class="cart-sum-cell text_left">
                                        Товаров
                                    </div>
                                    <div class="cart-sum-cell text_right">
                                        <span class="price" id="cart-items-total">{{ cart.data['total_price'] }}</span>
                                    </div>
                                </li>
                                <li class="cart-sum-item">
                                    <div class="cart-sum-cell">
                                        Доставка
                                    </div>
                                    <div class="cart-sum-cell text_right">
                                        <span class="price" id="delivery-price-sum">{{delivery_price}}</span>
                                    </div>
                                </li>
                                <li class="cart-sum-item cart-sum-item_overall bold">
                                    <div class="cart-sum-cell">
                                        Итого к оплате
                                    </div>
                                    <div class="cart-sum-cell text_right">
                                        <span class="price" id="cart-total">{{total_price}}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="cart-submit-area">
                                <input class="button button_big button_accent cart-submit"
                                    type="submit"
                                    value="ПОДТВЕРДИТЬ ЗАКАЗ"
                                    id="cart-submit"
                                >
                                <div class="cart-policy">
                                    Нажимая на кнопку «Подтвердить заказ» даю согласие на обработку моих персональных данных.
                                </div>
                            </div>
                            <div class="cart-errors" id="cart-errors">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-retailrocket-markup-block="5d8a193597a528156c373ea5" data-products="{{rr_ids}}"></div>

    </div>
    {% endwith %}

{% endblock content %}

{% block sidebar %}
    {% include 'blocks/cart-sidebar.html' %}
{% endblock sidebar %}

{% block modals %}
    {{super()}}
    <div class="modal delivery-points-modal" id="pickup-modal">
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-close control-button">
                    <i class="icon icon_close" id="fast-buy-close">
                    </i>
                </div>
            </div>
            <div class="ymaps-map" id="ymaps-map">
            </div>
        </div>
        <div class="modal-placeholder">
        </div>
    </div>
    <div class="modal" id="loader-modal">
        <div class="loader">
        </div>
    </div>
{% endblock modals %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
    var PRODUCTS = "{{products}}"
    </script>
    <script src="{{ static('js/cartPage.js') }}"></script>
{% endblock javascript %}