{% extends "base.html" %}

{% block content %}
<div class="title-area">
    <div class="content-area content-area_block">
        <div class="breadcrumbs">
            <a class="breadcrumbs__item breadcrumbs_first" href="/">
            Главная
            </a>
            <span class="breadcrumbs__delimeter">
            /
            </span>
            <a class="breadcrumbs__item breadcrumbs_last">
            Корзина
            </a>
        </div>
    </div>
</div>

<div class="info-page">
    <div class="content-area content-area_block">
        <div class="cart-placeholder">
        КОРЗИНА ПУСТА
        </div>
    </div>
</div>

{% endblock content %}