{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all"/>
{% endblock css %}

{% block script_head %}
    {{ super() }}
    <script type="text/javascript">
        (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
            try { rrApi.categoryView("{{ category.id }}"); } catch(e) {}
        })
    </script>
{% endblock script_head %}

{% block content %}
    <div class="title-area">
        <div class="content-area content-area_block">
            {% with view='shop:category', breadcrumbs=category.truncated_breadcrumbs %}
                {% include 'blocks/breadcrumbs.html' %}
            {% endwith %}
            <h1 class="title title_catalog">
            {{category.name}}
            </h1>
            <div class="title-area__buttons">
                <div class="row">
                    <div class="col col-6">
                        <div class="button button_grey mobile-catalog-button drawer-btn"
                            href="#drawer-filters"
                        >
                            <span class="button__text">
                                Фильтры
                            </span>
                            <span class="button_count round-count">
                                11
                            </span>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="button button_grey mobile-catalog-button drawer-btn"
                            href="#drawer-sorting"
                        >
                            По популярности
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-area__sorting row">
                <div class="title-area__count-wrap col col-12 d-col-3 w-col-2">
                    <div class="title-area__count">
                        <div class="title-area__count-text">
                        {{page_obj.paginator.count}} товаров
                        </div>
                    </div>
                </div>
                <div class="sorting-bar" id="sorting-bar">
                    <div class="sorting-bar__controls">
                        <div class="sorting-bar__label">
                        Сортировать:
                        </div>
                        <div class="sorting-item inc-dec {{sorting_option_class('price', sorting_option)}}"
                            data-option="price"
                        >
                            <span>по цене</span>
                            <i class="icon sorting-icon">
                            </i>
                        </div>
                        <div class="sorting-item {{sorting_option_class('scoring', sorting_option)}}"
                            data-option="scoring"
                        >
                            <span>по популярности</span>
                            <i class="icon sorting-icon">
                            </i>
                        </div>
                        <div class="sorting-item {{sorting_option_class('created_at', sorting_option)}}"
                            data-option="created_at"
                        >
                            <span>по новинкам</span>
                            <i class="icon sorting-icon">
                            </i>
                        </div>
                        <div class="sorting-item {{sorting_option_class('sale_percentage', sorting_option)}}"
                            data-option="sale_percentage"
                        >
                            <span>по скидкам</span>
                            <i class="icon sorting-icon">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area content-area_block">
        <div class="catalog row">
            <div class="catalog__left catalog__filters col col-1 d-col-3 w-col-2">
                <div class="price-filter" id="price-filter">
                    <div class="price-filter-title">
                        <span class="price">
                        Цена, 
                        </span>
                    </div>
                    <div class="price-filter-inputs">
                        <div class="price-filter-box">
                            <input
                                min="{{price__min}}"
                                max="{{price__max-100}}"
                                oninput="validity.valid||(value='{{price__min}}'"
                                id="min_price"
                                class="input"
                                value="{{price__gte}}"
                            />
                        </div>
                        <div class="price-filter-delimeter">
                        —
                        </div>
                        <div class="price-filter-box">
                            <input
                                min="{{price__min}}"
                                max="{{price__max}}"
                                oninput="validity.valid||(value='{{price__max}}'"
                                id="max_price"
                                class="input"
                                value="{{price__lte}}"
                            />
                        </div>
                        <div class="price-filter-remove">
                            <i class="icon icon_close">
                            </i>
                        </div>
                    </div>
                    <div class="price-filter-slider">
	                    <div id="slider-range" 
                            class="price-filter-range"
                            name="rangeInput">
                        </div>
                    </div>
                </div>
                <div class="filter"
                    data-id="{{filters[0].id}}"
                    data-key={{filters[0].key}}
                >
                    <div class="filter-heading">
                        <span class="filter-title">
                        {{filters[0].name}}
                        </span>
                        <i class="icon icon_chevron-down">
                        </i>
                    </div>
                    <div class="filter-panel">
                        <div class="filter-input-box hidden">
                            <input class="input filter-input">
                            <i class="icon icon_search filter-search-icon"></i>
                        </div>
                        <ul class="filter-values-list">
                        </ul>
                    </div>
                </div>

                {% for item in filters[1:] %}
                <div class="filter"
                    data-id="{{item.id}}"
                    data-key="{{item.key}}"
                >
                    <div class="filter-heading">
                        <span class="filter-title">
                        {{item.name}}
                        </span>
                        <i class="icon icon_chevron-down">
                        </i>
                    </div>
                    <div class="filter-panel">
                        <div class="filter-input-box hidden">
                            <input class="input filter-input">
                            <i class="icon icon_search filter-search-icon"></i>
                        </div>
                        <ul class="filter-values-list">
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="catalog__right col col-12 d-col-9 w-col-10">
                <div class="catalog__tags tags row">
                    {% if price__gte != price__min %}
                    <div class="tag tag-price" data-param="price__gte">
                        <span class="price">
                            От {{price__gte}}
                        </span>
                        <div class="tag__close">
                            <i class="icon icon_close tag__icon">
                            </i>
                        </div>
                    </div>
                    {% endif %}
                    {% if price__lte != price__max %}
                    <div class="tag tag-price" data-param="price__lte">
                        <span class="price">
                            До {{price__lte}}
                        </span>
                        <div class="tag__close">
                            <i class="icon icon_close tag__icon">
                            </i>
                        </div>
                    </div>
                    {% endif %}
                    {% for tag in tags %}
                    <div class="tag"
                        data-attribute="{{tag.attribute.key}}"
                        data-value="{{tag.id}}"
                    >
                        {{tag.tag}}
                        <div class="tag__close">
                            <i class="icon icon_close tag__icon">
                            </i>
                        </div>
                    </div>
                    {% endfor %}
                    {% for tag in added_values %}
                    <div class="tag" 
                        data-attribute="{{tag.attribute.key}}"
                        data-value="{{tag.id}}"
                    >
                        {{tag.tag}}
                        <div class="tag__close">
                            <i class="icon icon_close tag__icon">
                            </i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="catalog__gallery row">
                    {% for product in products %}
                        <div class="product-card">
                            <a href="/watches/{{ product.slug }}/">
                                <div class="product-card__img-wrap">
                                    <img class="product-card__img" src="{{ product.thumbnail.url }}">
                                    {% if product.sale_percentage > 0 %}
                                        <div class="product-card__sale-percentage">
                                        - {{product.sale_percentage}} %
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="product-card__data">
                                <div class="product-card__info">
                                    <a href="/watches/{{ product.slug }}/">
                                        <div class="product-card__brand">
                                            {{product.brand}}
                                        </div>
                                        <div class="product-card__series">
                                            {{product.series}}
                                        </div>
                                        <div class="product-card__model">
                                            {{ product.model }}
                                        </div>
                                    </a>
                                </div>
                                {% if product.sale_percentage > 0 %}
                                <div class="product-card__price price price_red">
                                    {{format_price(product.price)}}
                                </div>
                                <div class="product-card__price-wrap">
                                    <div class="product-card__old-price price price_old">
                                        {{format_price(product.old_price)}}
                                    </div>
                                </div>
                                {% else %}
                                <div class="product-card__price price">
                                    {{format_price(product.price)}}
                                </div>
                                {% endif %}
                                <div class="product-card__extra">
                                    {% if product.id not in favorites.ids %}
                                    <div class="product-card__favorite like"
                                        data-id="{{ product.id }}"
                                    >
                                        <i class="icon icon-like">
                                        </i>
                                    </div>
                                    {% else %}
                                    <div class="product-card__favorite like like_active"
                                        data-id="{{ product.id }}"
                                    >
                                        <i class="icon icon-like">
                                        </i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if is_paginated %}
                <div class="pagination catalog__pagination">
                    <div class="pagination__load-mobile button button_big button_filled show-mb">
                        ПОКАЗАТЬ ЕЩЁ
                    </div>
                    <div class="pagination__pages-wrap">
                        <div class="pagination__pages row">
                            {% for page in page_obj.page_range %}
                                {% if not page %}
                                <div class="page-btn page-btn_disabled hide-mb">
                                    ...
                                </div>
                                {% else %}
                                    {% if page == page_obj.number %}
                                    <a class="page-btn page-btn_active">
                                        {{page}}
                                    </a>
                                    {% else %}
                                    <a class="page-btn"
                                        href="{{request.path}}{{ update_pagination(querystring=request.GET, kwargs={'page':page}) }}"
                                    >
                                        {{page}}
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if page_obj.has_next() %}
                        <a class="page-btn page-btn_next hide-mb"
                            href="{{request.path}}{{ update_pagination(querystring=request.GET, kwargs={'page':page_obj.next_page_number()}) }}"
                        >
                            СЛЕДУЮЩАЯ
                        </a>
                        {% else %}
                        <a class="page-btn page-btn_next hide-mb page-btn_disabled"
                        >
                            СЛЕДУЮЩАЯ
                        </a>
                        {% endif %}
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock content %}

{% block modals %}
    {{ super() }}
    <div class="drawer drawer-left drawer-filters" id="drawer-filters">
        <div class="drawer-content drawer-content_left">
            <div class="drawer-filters-header">
                <div class="drawer-filters-title heading-2">
                    Фильтры
                </div>
                <div class="drawer-filters-clear">
                    Очистить
                </div>
            </div>
            <div class="drawer-filters-body">
                <ul class="drawer-filters-list">
                </ul>
            </div>
            <div class="drawer-footer">
                <div class="button button_accent">
                    Показать 777 товаров
                </div>
                <div class="button button_ghost">
                    Очистить
                </div>
            </div>
        </div>
        <div class="drawer-overlay">
        </div>
    </div>
    <div class="drawer drawer-bottom drawer-sorting" id="drawer-sorting">
        <div class="drawer-content drawer-content_bottom">
            <div class="mobile-sorting">
                <div class="mobile-sorting-title bold">
                Сортировать...
                </div>
                <ul class="sorting-list">
                    <li class="sorting-list-item">
                        <span>
                        по цене
                        </span>
                    </li>
                    <li class="sorting-list-item">
                        <span>
                        по цене
                        </span>
                    </li>
                    <li class="sorting-list-item">
                        <span>
                        поп популярности
                        </span>
                    </li>
                    <li class="sorting-list-item">
                        <span>
                        по новинкам
                        </span>
                    </li>
                    <li class="sorting-list-item">
                        <span>
                        по скидкам
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="drawer-overlay">
        </div>
    </div>
{% endblock modals %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        var TAGS = "{{tags_json}}";
        var CORE_VALUES = "{{node_values_json}}";
        var PRICE_MIN = {{price__min}};
        var PRICE_MAX = {{price__max}};
    </script>
    <script src="{{ static('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static('js/catalogPage.js') }}"></script>
{% endblock javascript %}