{% extends "base.html" %}

{% block content %}
    <div class="mobile-page">
        <div class="content-area content-area_block">
            <div class="sidebar-pane-heading">
                <div class="heading-2 bold">
                    Избранное
                </div>
                <span class="sidebar-pane-count">
                </span>
            </div>
            <ul class="sidebar-pane-cart" id="mobile-favorite-items">
                {% for item in favorites.items_list %}
                <li class='card-mini sidebar-card' data-pk="{{item['id']}}"
                >
                    <div class="card-mini__img-wrap">
                        <a class="link-wrap" href="/watches/{{item['slug']}}/">
                            <img class="card-mini__img" src="{{item['image']}}">
                        </a>
                    </div>
                    <div class="card-mini__content">
                        <a class="link-wrap" href="/watches/{{item['slug']}}/">
                            <div class="card-mini__brand">
                                {{item['brand']}}
                            </div>
                            <div class="card-mini__series">
                                {{item['series']}}
                            </div>
                            <div class="card-mini__model">
                                {{item['model']}}
                            </div>
                        </a>
                        <div class="card-mini-buy fab fab-mini fab_accent" data-pk="{{ item['pk'] }}">
                            <i class="icon icon_cart">
                            </i>
                        </div>
                        <div class="card-mini__price">
                            <span class="price">{{item['price']}}</span>
                        </div>
                    </div>
                    <div class="card-mini__delete">
                        <i class="icon icon_close">
                        </i>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block subscribes %}
{% endblock subscribes %}

{% block javascript %}
    {{ super() }}
    <script src="{{ static('js/favoritesPage.js') }}"></script>
{% endblock javascript %}