{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/jquery.fancybox.min.css') }}" />
{% endblock css %}

{% block content %}
    <div class="content-area content-area_block">
        <div class="breadcrumbs-area">
            <div class="breadcrumbs breadcrumb_tablet">
                <a class="breadcrumbs__item breadcrumbs_first" href="#">
                Главная
                </a>
                <span class="breadcrumbs__delimeter">
                /
                </span>
            </div>
        </div>
    </div>

    <div class="product-page">
        <div class="product">
            <div class="product__top row">
                <div class="product-front col col-12 t-col-6">
                    <div class="product-front__main-img-wrap">
                        <a class="product-front__img-link active" href="{{product.image.url}}"
                            data-fancybox="gallery"
                            target="_blank"
                            id="image"
                        >
                            <img class="product-front__main-img" 
                                src="{{product.image.url}}"
                                alt="{{product.model}}"
                            >
                        </a>
                        {% for image in images %}
                        <a class="product-front__img-link"
                            href="{{image.image.url}}"
                            data-fancybox="gallery"
                            target="_blank"
                            id="image-{{loop.index}}"
                        >
                            <img class="product-front__main-img"
                                src="{{image.thumbnail.url}}"
                                alt="{{product.model}}-{{loop.index}}"
                            >
                        </a>
                        {% endfor %}
                        <div class="product-front__badges">
                        </div>
                    </div>
                    <div class="product-front__gallery gallery">
                        {% if images|length > 0 %}
                        <div class="fab fab-micro gallery-btn gallery-btn_prev">
                            <i class="icon icon_chevron-up">
                            </i>
                        </div>
                        {% endif %}
                        <div class="gallery-slick-list">
                            <div class="gallery-track row" id="gallery-track">
                                <div class="thumb thumb_active"
                                    data-image="{{product.image.url}}"
                                    data-target="#image"
                                >
                                    <img class="thumb-img" src="{{product.thumbnail.url}}">
                                </div>
                                {% for image in images %}
                                <div class="thumb"
                                    data-image="{{image.image.url}}"
                                    data-target="#image-{{loop.index}}"
                                >
                                    <img class="thumb-img" src="{{image.thumbnail.url}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if images|length > 0 %}
                        <div class="gallery-control">
                            <div class="fab fab-micro gallery-btn gallery-btn_next">
                                <i class="icon icon_chevron-down">
                                </i>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col col-12 t-col-6">
                    <div class="product-left row">
                        <div class="product-main">
                            <div class="product-main__model">
                                {{product.model}}
                            </div>
                            <div class="product-main__name">
                                {{product.brand}} {{product.series}}
                            </div>
                            <div class="product-main__price-area row">
                                <div class="price product-main__price">
                                    {{product.price}}
                                </div>
                                {% if product.is_sale %}
                                <div class="old-price product-main__old-price">
                                    {{product.old_price}}
                                </div>
                                {% endif %}
                            </div>
                            <div class="hide-wide product-main-interactions">
                                <div class="row">
                                    <div class="rating float-left">
                                        <div class="rating__stars">
                                            {{ratings_stars_float(product.rating)|safe}}
                                        </div>
                                        <div class="rating__overall">
                                            {{product.rating}}
                                        </div>
                                    </div>
                                    <div class="interaction-links float-left">
                                        <a class="interaction-link">
                                            <i class="icon icon_heart-stroke">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        <a class="interaction-link">
                                            <i class="icon icon_share">
                                            </i>
                                            <span>ПОДЕЛИТЬСЯ</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="link link_dotted product-main__reviews-count">
                                {{reviews_count}} {{normalize_noun_masculine(reviews_count, 'отзыв')}}
                                </a> 
                            </div>
                            <div class="product-main__buttons row">
                                {% if product.id in cart.ids %}
                                <a class="button button_big button_accent product-main__button float-left"
                                    href="/cart/"
                                >
                                ОФОРМИТЬ ЗАКАЗ
                                </a>
                                {% else %}
                                <div class="button button_big button_accent product-main__button float-left"
                                    id="add-to-cart"
                                >
                                    ДОБАВИТЬ В КОРЗИНУ
                                </div>
                                {% endif %}
                                <div class="button button_big button_ghost product-main__one-click float-left"
                                    id="fast-buy"
                                >
                                    КУПИТЬ В 1 КЛИК
                                </div>
                            </div>
                            <div class="product-main__info-block show-wide">
                                <div class="bold product-main__info-block-title">
                                    Информация о доставке
                                </div>
                                <div class="product-main__info-block-text">
                                    <p class="delivery-curier">
                                        За <span class="price">{{delivery_data['curier']['price']}}</span>
                                        в г. {{request.user.city_name}} курьером, в течении 3 дней
                                    </p>
                                    <p class="delivery-points">
                                        Пункты выдачи — от <span class="price">{{delivery_data['delivery_point']['price']}}</span>
                                    </p>
                                    <p class="delivery-rupost">
                                        Почтой России — <span class="price">{{delivery_data['postal_service']['price']}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="product-main__info-block">
                                <div class="bold product-main__info-block-title">
                                    Гарантия
                                </div>
                                <div class="product-main__info-block-text">
                                    2 года + 1 год от ПрезидентВотчес
                                </div>
                                <a class="link link_dotted" href="#">
                                Информация о гарантии
                                </a>
                            </div>
                            <div class="product-main__info-block show-wide">
                                <div class="bold product-main__info-block-title">
                                    Коротко о товаре
                                </div>
                                <ul class="list list_mini">
                                    <li class="list-item">
                                        — Минеральное стекло
                                    </li>
                                    <li class="list-item">
                                        — Кожаный браслет
                                    </li>
                                    <li class="list-item">
                                        — Водонепроницаемость 50 м.
                                    </li>
                                    <li class="list-item">
                                        — Габариты 47 × 43.5 × 10.4
                                    </li>
                                </ul>
                                <a class="link link_grey link_dotted">
                                    Все характеристики
                                </a>
                            </div>
                        </div>
                        <div class="product-controls show-wide">
                            <div class="product-controls__block">
                                <div class="row">
                                    <div class="rating float-left">
                                        <div class="rating__stars">
                                            {{ratings_stars_float(product.rating)|safe}}
                                        </div>
                                        <div class="rating__overall">
                                            {{product.rating}}
                                        </div>
                                    </div>
                                    <div class="interaction-links float-left">
                                        <a class="interaction-link">
                                            <i class="icon icon_heart-stroke">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        <a class="interaction-link">
                                            <i class="icon icon_share">
                                            </i>
                                            <span>ПОДЕЛИТЬСЯ</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="link link_dotted product-main__reviews-count">
                                {{reviews_count}} {{normalize_noun_masculine(reviews_count, 'отзыв')}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer__mobile">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingDesc">
                            <a class="panel-title"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseDesc"
                            >
                                <span
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseDesc"
                                >
                                    Описание и характеристики
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div id="collapseDesc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="content-block">
                                <h2 class="heading-2">Описание</h2>
                                {{product.description|safe}}
                            </div>
                            <div class="content-block">
                                <h2 class="heading-2">Характеристики</h2>
                                <div class="list-group">
                                    {% for group in product.grouped_attributes %}
                                    <div class="list-group-item">
                                        <div class="list-heading">
                                            {{ group['name'] }}
                                        </div>
                                        <ul class="list">
                                            {% for attribute in group['attributes'] %}
                                            <li class="list-item">
                                                <div class="list-item-label">
                                                    <span>{{ attribute['name'] }}</span>
                                                </div>
                                                <div class="list-item-text">
                                                    {% for value in attribute['values'] %}
                                                    {{ value['value'] }}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="grey-block">
                                    Нашли ошибку в описании или характеристиках? 
                                    <a class="link link_grey" href="#">Сообщите нам</a>
                                </div>
                            </div>
                            <div class="content-block">
                                <div class="brand-info">
                                    <div class="brand-info-heading row">
                                        <div class="brand-info-title">
                                            <p>О бренде</p>
                                            <p>CASIO</p>
                                        </div>
                                        <div class="brand-info-img-area">
                                            <div class="brand-info-img-wrap">
                                                <img class="brand-info-img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="brand-info-content">
                                        <p>
                                        Вдохновением для нашей компании пришли из пионерских человек по имени Ричард Брейтуэйт, который жил в 1600-х годов. Он был писателем, поэтом и провидцем. Он изменил общественную динамику в 1631 году, когда опубликовал "английского джентльмена", первое документальное упоминание о джентльмене и благородной женщине, и руководство о том, как вести себя с почетными манерами и уважением ко всем, независимо от социального класса.
                                        </p>
                                        <p>
                                        В нашей оценке Брейтуэйт наследие, наши часы создаются в соответствии с этими признаками; честность, порядочность и прозрачность. Что делает нас единственным в мире прозрачным часовщиком.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseDelivery"
                            >
                                <span
                                >
                                    Наличие и доставка
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div id="collapseDelivery" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseVideos"
                            >
                                <span
                                >
                                    Видеобзоры
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div class="panel-collapse collapse">
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseReviews"
                            >
                                <span
                                >
                                    Отзывы
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div class="panel-collapse collapse">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer hide-mb">
                <div class="content-area content-area_block">

                    <div class="tabs">
                        <ul class="tabs-nav" href="#product-nav">
                            <li class="tabs-nav-item">
                                <a class="tabs-link active" href="#description">
                                    Описание и характеристики
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#delivery">
                                    Наличие и доставка
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#videos">
                                    Видеобзоры
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#reviews">
                                    Отзывы {{reviews|length}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="card-footer__left">
                            <div class="tabs-outlet" id="product-nav">
                                <div class="tab-pane" id="description">
                                    <div class="content-block">
                                        <h2>Описание</h2>
                                        <div class="content-block__text">
                                        {{product.description|safe}}
                                        </div>
                                    </div>
                                    <div class="content-block">
                                        <h2>Характеристики</h2>
                                        <div class="list-group">
                                            {% for group in product.grouped_attributes %}
                                            <div class="list-group-item">
                                                <div class="list-heading">
                                                    {{ group['name'] }}
                                                </div>
                                                <ul class="list">
                                                    {% for attribute in group['attributes'] %}
                                                    <li class="list-item">
                                                        <div class="list-item-label">
                                                            <span>{{ attribute['name'] }}</span>
                                                        </div>
                                                        <div class="list-item-text">
                                                            {% for value in attribute['values'] %}
                                                            {{ value['value'] }}
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="grey-block">
                                            Нашли ошибку в описании или характеристиках? 
                                            <a class="link link_grey" href="#">Сообщите нам</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="delivery">
                                    Доставка
                                </div>
                                <div class="tab-pane" id="videos">
                                    Видеообзоры
                                </div>
                                <div class="tab-pane active" id="reviews">
                                    <div class="content-block">
                                        <h2 class="bold">
                                            Отзывы <span class="grey">{{reviews|length}}</span>
                                        </h2>
                                        <div class="row">
                                            <div class="rating__stars">
                                                {{ratings_stars_float(product.rating)|safe}}
                                            </div>
                                            <div class="rating__overall">
                                                {{product.rating}} из 5 звёзд
                                            </div>
                                        </div>
                                        <div class="rating-panel">
                                            {% for item in rating_overall %}
                                            <div class="rating-row row">
                                                <div class="rating-bar">
                                                    <div class="rating-bar-progress"
                                                        style="width:{{item['percentage']}}%"
                                                    >
                                                    </div>
                                                </div>
                                                <div class="rating-percentage">
                                                    {{item['percentage']}}%
                                                </div>
                                                <div class="rating-label grey">
                                                    {{item['rating']}} {{normalize_noun_feminine(item['rating'], 'звезд')}}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% for review in reviews %}
                                        <div class="review">
                                            <div class="review-rating stars">
                                            {{rating_stars(review.rating)|safe}}
                                            </div>
                                            <div class="review-text">
                                                {{review.text}}
                                            </div>
                                            <div class="review-author">
                                                {{review.signature}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer__right show-wide">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ super() }}
    <script src="{{ static('js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ static('js/productPage.js') }}"></script>
    <script type="text/javascript">
        var PRODUCT = {
            pk: '{{product.id}}',
            model: '{{ product.model }}',
            slug: '{{ product.slug }}',
        }
    </script>
{% endblock javascript %}