{% extends "base.html" %}

{% block meta %}
<title>{{product.meta_title}}</title>
<meta name="description" content="{{product.meta_description}}"/>
{% endblock meta %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/jquery.fancybox.min.css') }}" />
{% endblock css %}

{% block script_head %}
    {{ super() }}
    <script type="text/javascript">
        (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
            try{ rrApi.view({{product.id}}); } catch(e) {}
        })
    </script>
{% endblock script_head %}

{% block content %}
    <div class="content-area content-area_block">
        <div class="title-area title-area-product">
            {% with view='shop:category', breadcrumbs=category.truncated_breadcrumbs[:4] %}
                {% include 'blocks/breadcrumbs.html' %}
            {% endwith %}
        </div>
    </div>

    <div class="product-page">
        <div class="product">
            <div class="product__top row">
                <div class="product-front-wrap col col-12 t-col-6">
                    <div class="product-front">
                        <div class="product-front__main-img-wrap">
                            <div class="product-front-badges">
                            {% if product.is_sale %}
                                <div class="badge badge_red">
                                СКИДКА -{{product.sale_percentage}}%
                                </div>
                            {% elif product.has_club_price %}
                                <div class="badge badge_blue">
                                КЛУБНАЯ ЦЕНА
                                </div>
                            {% endif %}
                            {% if product.is_bestseller %}
                                <div class="badge badge_orange">
                                ХИТ
                                </div>
                            {% endif %}
                            {% if product.free_delivery %}
                                <div class="badge badge_green">
                                БЕСПЛАТНАЯ ДОСТАВКА
                                </div>
                            {% endif %}
                            </div>
                            <a class="product-front__img-link active" href="{{product.image.url}}"
                                data-fancybox="gallery"
                                target="_blank"
                                id="image"
                            >
                                <img class="product-front__main-img" 
                                    src="{{product.image.url}}"
                                    alt="{{product.model}}"
                                >
                            </a>
                            {% for image in images %}
                            <a class="product-front__img-link"
                                href="{{image.image.url}}"
                                data-fancybox="gallery"
                                target="_blank"
                                id="image-{{loop.index}}"
                            >
                                <img class="product-front__main-img"
                                    src="{{image.thumbnail.url}}"
                                    alt="{{product.model}}-{{loop.index}}"
                                >
                            </a>
                            {% endfor %}
                            <div class="product-front__badges">
                            </div>
                        </div>
                        <div class="product-front__gallery gallery">
                            {% if images|length > 0 %}
                            <div class="fab fab-micro gallery-btn gallery-btn_prev">
                                <i class="icon icon_chevron-up">
                                </i>
                            </div>
                            {% endif %}
                            <div class="gallery-slick-list">
                                <div class="gallery-track row" id="gallery-track">
                                    <div class="thumb thumb_active"
                                        data-image="{{product.image.url}}"
                                        data-target="#image"
                                    >
                                        <img class="thumb-img" src="{{product.thumbnail.url}}">
                                    </div>
                                    {% for image in images %}
                                    <div class="thumb"
                                        data-image="{{image.image.url}}"
                                        data-target="#image-{{loop.index}}"
                                    >
                                        <img class="thumb-img" src="{{image.thumbnail.url}}">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if images|length > 0 %}
                            <div class="gallery-control">
                                <div class="fab fab-micro gallery-btn gallery-btn_next">
                                    <i class="icon icon_chevron-down">
                                    </i>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col col-12 t-col-6">
                    <div class="product-left row">
                        <div class="product-main">
                            <div class="product-main__model">
                                {{product.model}}
                            </div>
                            <div class="product-main__name">
                                {{product.brand}} {{product.series}}
                            </div>
                            {% if product.is_sale %}
                            <div class="product-main__price-area row">
                                <div class="price product-main__price">
                                    {{format_price(product.price)}}
                                </div>
                                <div class="price_old price product-main__old-price">
                                    {{product.old_price}}
                                </div>
                            </div>
                            {% elif product.has_club_price %}
                                {% if request.user.is_authenticated %}
                                <div class="product-main__price-area row">
                                    <div class="price product-main__price">
                                        {{format_price(product.club_price)}}
                                    </div>
                                    <div class="price_old price product-main__old-price">
                                        {{product.price}}
                                    </div>
                                </div>
                                {% else %}
                                <div class="product-main__price-area row">
                                    <div class="price product-main__price">
                                        {{format_price(product.price)}}
                                    </div>
                                    <div class="product-main__club-auth" id="club-price-button">
                                        Узнать цену клуба
                                    </div>
                                </div>
                                {% endif %}
                            {% elif request.user.is_authenticated %}
                                {% if product.club_price < product.price %}
                                <div class="product-main__price-area row">
                                    <div class="price product-main__price">
                                        {{format_price(product.club_price)}}
                                    </div>
                                    <div class="price_old price product-main__old-price">
                                        {{product.price}}
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                            <div class="product-main__price-area row">
                                <div class="price product-main__price">
                                    {{format_price(product.price)}}
                                </div>
                            </div>
                            {% endif %}
                            <div class="hide-wide product-main-interactions">
                                <div class="row">
                                    <div class="rating float-left">
                                        <div class="rating__stars">
                                            {{ratings_stars_float(product.rating)|safe}}
                                        </div>
                                        <div class="rating__overall">
                                            {{product.rating}}
                                        </div>
                                    </div>
                                    <div class="interaction-links float-left">
                                        {% if product.id in favorites.ids %}
                                        <a class="interaction-link product-like active">
                                            <i class="icon icon_heart">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        {% else %}
                                        <a class="interaction-link product-like">
                                            <i class="icon icon_heart">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        {% endif %}
                                        {#<a class="interaction-link">
                                            <i class="icon icon_share">
                                            </i>
                                            <span>ПОДЕЛИТЬСЯ</span>
                                        </a>#}
                                    </div>
                                </div>
                                <a class="link link_dotted product-main__reviews-count">
                                {{reviews_count}} {{normalize_noun_masculine(reviews_count, 'отзыв')}}
                                </a> 
                            </div>
                            <div class="product-main__buttons row">
                            {% if product.is_in_stock %}
                                {% if product.id in cart.ids %}
                                <a class="button button_big button_accent product-main__button float-left"
                                    href="/cart/"
                                >
                                ОФОРМИТЬ ЗАКАЗ
                                </a>
                                {% else %}
                                <div class="button button_big button_accent product-main__button float-left"
                                    id="add-to-cart"
                                >ДОБАВИТЬ В КОРЗИНУ</div>
                                {% endif %}
                                <div class="button button_big button_ghost product-main__one-click float-left"
                                    id="fast-buy"
                                >КУПИТЬ В 1 КЛИК</div>
                            {% else %}
                                <div class="product-main__notavailable bold">
                                Нет в наличии
                                </div>
                            {% endif %}
                            </div>
                            <div class="product-main__info-block product-advantages">
                                {% if product.has_summary %}
                                <div class="bold product-main__info-block-title">
                                    Наши плюсы
                                </div>
                                <ul class="list list_mini">
                                    <li class="list-item plus-item tip-item">
                                    —
                                        <a class="link link_dotted tip-link" href="#">
                                        Легко вернуть часы в течение 30 дней!
                                        </a>
                                        <div class="tip">
                                        Просто не понравился товар? Вы можете вернуть его в течение 30 дней из любого уголка России, узнать подробнее вы можете по телефону 8-800-777-60-72
                                        </div>
                                    </li>
                                    <li class="list-item plus-item tip-item">
                                    —
                                        <a class="link link_dotted tip-link" href="#">
                                        Сперва примерьте, потом платите!
                                        </a>
                                        <div class="tip tip-1">
                                        При доставке курьером или на пункте выдачи вы сможете осмотреть товар, проверить его качество и комплектность и лишь потом решить, оплачивать его или нет
                                        </div>
                                    </li>
                                    <li class="list-item plus-item tip-item">
                                    —
                                        <a class="link link_dotted tip-link" href="#">
                                        Только оригинальные часы!
                                        </a>
                                        <div class="tip tip-2">
                                        Мы работаем на часовом рынке уже более 6 лет, и у нас вы найдете только оригинальные часы, мы НЕ торгуем копиями или подделками
                                        </div>
                                    </li>
                                    {% if product.free_delivery %}
                                    <li class="list-item plus-item tip-item">
                                    —
                                        <a class="link link_dotted tip-link" href="#">
                                        Бесплатная доставка в любой уголок России!
                                        </a>
                                        <div class="tip tip-3">
                                        На данный товар есть бесплатная доставка в любую точку России
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% if product.has_club_price %}
                                        {% if request.user.is_authenticated %}
                                        <li class="list-item plus-item red">
                                            — Использована клубная скидка {{club_sale}} %
                                        </li>
                                        {% else %}
                                        <li class="list-item plus-item">
                                            — <a class="link link_dotted header-auth" href="#">Зарегистрируйтесь</a>, чтобы узнать клубную цену
                                        </li>
                                            {% if sale_notes|length > 0 %}
                                            <li class="list-item plus-item list-item_red">
                                                — {{sale_notes}}
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if sale_notes|length > 0 %}
                                        <li class="list-item plus-item list-item_red link">
                                            — {{sale_notes}}
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                            <div class="product-main__info-block show-wide">
                                <div class="bold product-main__info-block-title">
                                    Информация о доставке
                                </div>
                                <div class="product-main__info-block-text delivery-product" id="delivery-product">
                                    {% if delivery_data['curier'] is not none %}
                                    <p class="delivery-curier">
                                        {{price_filter(delivery_data['curier']['price'])|safe}}
                                        в г. {{request.user.city_name}} курьером, {{time_filter(delivery_data['curier']['time_min'], delivery_data['curier']['time_max'])}}
                                    </p>
                                    {% else %}
                                    <p class="delivery-curier">
                                        Доставка курьеров в г. {{request.user.city_name}} невозможна
                                    </p>
                                    {% endif %}
                                    {% if delivery_data['delivery_point'] is not none %}
                                    <p class="delivery-points">
                                        Пункты выдачи — от <span class="price">{{delivery_data['delivery_point']['price']}}</span>, {{time_filter(delivery_data['delivery_point']['time_min'], delivery_data['delivery_point']['time_max'])}}
                                    </p>
                                    {% else %}
                                    <p class="delivery-points">
                                        Нет пунктов выдачи в г. {{request.user.city_name}}
                                    </p>
                                    {% endif %}
                                    <p class="delivery-rupost">
                                        Почтой России — <span class="price">{{delivery_data['postal_service']['price']}}</span>, от 5 до 7 дней
                                    </p>
                                </div>
                            </div>
                            <div class="product-main__info-block">
                                <div class="bold product-main__info-block-title">
                                    Гарантия
                                </div>
                                <div class="product-main__info-block-text">
                                    2 года + 1 год от ПрезидентВотчес
                                </div>
                                <a class="link link_dotted" href="/info/guarantees/">
                                Информация о гарантии
                                </a>
                            </div>
                        </div>
                        <div class="product-controls show-wide">
                            <div class="product-controls__block">
                                <div class="row">
                                    <div class="rating float-left">
                                        <div class="rating__stars">
                                            {{ratings_stars_float(product.rating)|safe}}
                                        </div>
                                        <div class="rating__overall">
                                            {{product.rating}}
                                        </div>
                                    </div>
                                    <div class="interaction-links float-left">
                                        {% if product.id in favorites.ids %}
                                        <a class="interaction-link active product-like">
                                            <i class="icon icon_heart">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        {% else %}
                                        <a class="interaction-link product-like">
                                            <i class="icon icon_heart">
                                            </i>
                                            <span>В ИЗБРАННОЕ</span>
                                        </a>
                                        {% endif %}
                                        {#<a class="interaction-link">
                                            <i class="icon icon_share">
                                            </i>
                                            <span>ПОДЕЛИТЬСЯ</span>
                                        </a>#}
                                    </div>
                                </div>
                                <a class="link link_dotted product-main__reviews-count">
                                {{reviews_count}} {{normalize_noun_masculine(reviews_count, 'отзыв')}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer__mobile">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingDesc">
                            <a class="panel-title active"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseDesc"
                            >
                                <span
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseDesc"
                                >
                                    Описание и характеристики
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div id="collapseDesc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="display: block;">
                            <div class="content-block">
                                <h2 class="heading-2">Описание</h2>
                                {{product.description|safe}}
                            </div>
                            <div class="content-block">
                                <h2 class="heading-2">Характеристики</h2>
                                <div class="list-group">
                                    {% for group in product.grouped_attributes %}
                                    <div class="list-group-item">
                                        <div class="list-heading">
                                            {{ group['name'] }}
                                        </div>
                                        <ul class="list">
                                            {% for attribute in group['attributes'] %}
                                            <li class="list-item">
                                                <div class="list-item-label">
                                                    <span>{{ attribute['name'] }}</span>
                                                </div>
                                                <div class="list-item-text">
                                                    {% for value in attribute['values'] %}
                                                    {{ value['value'] }}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="grey-block">
                                    Нашли ошибку в описании или характеристиках? 
                                    <a class="link link_grey" href="tel:88007776072">Сообщите нам</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseDelivery"
                            >
                                <span
                                >
                                    Наличие и доставка
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div id="collapseDelivery" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="description-block">
                                <div class="title bold">
                                Наличие
                                </div>
                                <div>
                                    <p>
                                    {% if product.is_in_stock %}
                                    В наличии в интернет-магазине
                                    {% else %}
                                    Нет в наличии в интернет-магазине
                                    {% endif %}
                                    </p>
                                    <p>
                                    {% if product.is_in_store %}
                                    В наличии в магазине на Тульской
                                    {% else %}
                                    Нет в наличии в магазине на Тульской
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="description-block">
                                <div class="title bold">
                                Доставка
                                </div>
                                <div>
                                    <div class="product-main__info-block-text delivery-product">
                                    {% if delivery_data['curier'] is not none %}
                                        <p class="delivery-curier">
                                            {{price_filter(delivery_data['curier']['price'])|safe}}
                                            в г. {{request.user.city_name}} курьером, {{time_filter(delivery_data['curier']['time_min'], delivery_data['curier']['time_max'])}}
                                        </p>
                                        {% else %}
                                        <p class="delivery-curier">
                                            Доставка курьеров в г. {{request.user.city_name}} невозможна
                                        </p>
                                        {% endif %}
                                        {% if delivery_data['delivery_point'] is not none %}
                                        <p class="delivery-points">
                                            Пункты выдачи — от <span class="price">{{delivery_data['delivery_point']['price']}}</span>, {{time_filter(delivery_data['delivery_point']['time_min'], delivery_data['delivery_point']['time_max'])}}
                                        </p>
                                        {% else %}
                                        <p class="delivery-points">
                                            Нет пунктов выдачи в г. {{request.user.city_name}}
                                        </p>
                                        {% endif %}
                                        <p class="delivery-rupost">
                                            Почтой России — <span class="price">{{delivery_data['postal_service']['price']}}</span>, от 5 до 7 дней
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if videos|length > 0 %}
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title active"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseVideos"
                            >
                                <span
                                >
                                    Видеобзоры {{videos|length}}
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" style="display: block">
                            <div class="row">
                                {% for video in videos %}
                                <div class="col col-12 d-col-6">
                                    <div class="video">
                                        <iframe type="text/html"
                                            width="100%"
                                            height="100%"
                                            src="https://www.youtube.com/embed/{{video.slug}}?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0"
                                            frameborder="0"
                                            allowfullscreen="">
                                        </iframe>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseVideos"
                            >
                                <span
                                >
                                    Видеобзоры {{videos|length}}
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div class="panel-collapse collapse">
                            <div class="row">
                                {% for video in videos %}
                                <div class="col col-12 d-col-6">
                                    <div class="video">
                                        <iframe type="text/html"
                                            width="100%"
                                            height="100%"
                                            src="https://www.youtube.com/embed/{{video.slug}}?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0"
                                            frameborder="0"
                                            allowfullscreen="">
                                        </iframe>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="panel-title"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapseReviews"
                                id="collapseReviewsTitle"
                            >
                                <span
                                >
                                    Отзывы {{reviews|length}}
                                </span>
                                <i class="icon collapse-icon">
                                </i>
                            </a>
                        </div>
                        <div class="panel-collapse collapse">
                            <div class="rating-summary">
                                <div class="row">
                                    <div class="rating__stars">
                                        {{ratings_stars_float(product.rating)|safe}}
                                    </div>
                                    <div class="rating__overall">
                                        {{product.rating}} из 5 звёзд
                                    </div>
                                </div>
                                <div class="rating-panel">
                                    {% for item in rating_overall %}
                                    <div class="rating-row row">
                                        <div class="rating-bar">
                                            <div class="rating-bar-progress"
                                                style="width:{{item['percentage']}}%"
                                            >
                                            </div>
                                        </div>
                                        <div class="rating-percentage">
                                            {{item['percentage']}}%
                                        </div>
                                        <div class="rating-label grey">
                                            {{item['rating']}} {{normalize_noun_feminine(item['rating'], 'звезд')}}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% for review in reviews %}
                            <div class="review">
                                <div class="review-rating stars">
                                {{rating_stars(review.rating)|safe}}
                                </div>
                                <div class="review-text">
                                    {{review.text}}
                                </div>
                                <div class="review-author">
                                    {{review.signature}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="content-area content-area_block">

                    <div class="tabs hide-mb">
                        <ul class="tabs-nav" href="#product-nav">
                            <li class="tabs-nav-item">
                                <a class="tabs-link active" href="#description" id="descriptionLink">
                                    Описание и характеристики
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#delivery">
                                    Наличие и доставка
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#videos">
                                    Видеобзоры {{videos|length}}
                                </a>
                            </li>
                            <li class="tabs-nav-item">
                                <a class="tabs-link" href="#reviews" id="reviewsTabLink">
                                    Отзывы {{reviews|length}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row hide-mb">
                        <div class="card-footer__left">
                            <div class="tabs-outlet" id="product-nav">
                                <div class="tab-pane active card-description row" id="description">
                                    <div class="card-description__inner">
                                        <div class="content-block">
                                            <h2>Описание</h2>
                                            <div class="content-block__text">
                                            {{product.description|safe}}
                                            </div>
                                        </div>
                                        <div class="content-block">
                                            <h2>Характеристики</h2>
                                            <div class="list-group">
                                                {% for group in product.grouped_attributes %}
                                                <div class="list-group-item">
                                                    <div class="list-heading">
                                                        {{ group['name'] }}
                                                    </div>
                                                    <ul class="list">
                                                        {% for attribute in group['attributes'] %}
                                                        <li class="list-item">
                                                            <div class="list-item-label">
                                                                <span>{{ attribute['name'] }}</span>
                                                            </div>
                                                            <div class="list-item-text">
                                                                {% for value in attribute['values'] %}
                                                                {{ value['value'] }}
                                                                {% endfor %}
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if videos|length > 0 %}
                                        <div class="content-block card-videos-d">
                                            <h2>Видео</h2>
                                            {% for video in videos %}
                                            <div class="card-video-d">
                                                <iframe type="text/html"
                                                    width="100%"
                                                    height="100%"
                                                    src="https://www.youtube.com/embed/{{video.slug}}?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0"
                                                    frameborder="0"
                                                    allowfullscreen="">
                                                </iframe>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="content-block">
                                            <div class="grey-block">
                                                Нашли ошибку в описании или характеристиках? 
                                                <a class="link link_grey" href="tel:+78007776072">Сообщите нам</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if videos|length > 0 %}
                                    <div class="card-description__video">
                                        <h2>Видео</h2>
                                        {% for video in videos %}
                                        <div class="card-right-video">
                                            <iframe type="text/html"
                                                width="100%"
                                                height="100%"
                                                src="https://www.youtube.com/embed/{{video.slug}}?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0"
                                                frameborder="0"
                                                allowfullscreen="">
                                            </iframe>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="delivery">
                                    <div class="description-block">
                                        <div class="title bold">
                                        Наличие
                                        </div>
                                        <div>
                                            <p>
                                            {% if product.is_in_stock %}
                                            В наличии в интернет-магазине
                                            {% else %}
                                            Нет в наличии в интернет-магазине
                                            {% endif %}
                                            </p>
                                            <p>
                                            {% if product.is_in_store %}
                                            В наличии в магазине на Тульской
                                            {% else %}
                                            Нет в наличии в магазине на Тульской
                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="description-block">
                                        <div class="title bold">
                                        Доставка
                                        </div>
                                        <div>
                                            <div class="product-main__info-block-text delivery-product">
                                                {% if delivery_data['curier'] is not none %}
                                                <p class="delivery-curier">
                                                    {{price_filter(delivery_data['curier']['price'])|safe}}
                                                    в г. {{request.user.city_name}} курьером, {{time_filter(delivery_data['curier']['time_min'], delivery_data['curier']['time_max'])}}
                                                </p>
                                                {% else %}
                                                <p class="delivery-curier">
                                                    Доставка курьеров в г. {{request.user.city_name}} невозможна
                                                </p>
                                                {% endif %}
                                                {% if delivery_data['delivery_point'] is not none %}
                                                <p class="delivery-points">
                                                    Пункты выдачи — от <span class="price">{{delivery_data['delivery_point']['price']}}</span>, {{time_filter(delivery_data['delivery_point']['time_min'], delivery_data['delivery_point']['time_max'])}}
                                                </p>
                                                {% else %}
                                                <p class="delivery-points">
                                                    Нет пунктов выдачи в г. {{request.user.city_name}}
                                                </p>
                                                {% endif %}
                                                <p class="delivery-rupost">
                                                    Почтой России — <span class="price">{{delivery_data['postal_service']['price']}}</span>, от 5 до 7 дней
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane card-videos" id="videos">
                                    <div class="tab-pane-title bold">
                                    Видеобзоры
                                    </div>
                                    <div class="videos row">
                                    {% for video in videos %}
                                    <div class="col col-12 d-col-6">
                                        <div class="video">
                                            <iframe type="text/html"
                                                width="100%"
                                                height="100%"
                                                src="https://www.youtube.com/embed/{{video.slug}}?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0"
                                                frameborder="0"
                                                allowfullscreen="">
                                            </iframe>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="reviews">
                                    <div class="content-block">
                                        <h2 class="bold">
                                            Отзывы <span class="grey">{{reviews|length}}</span>
                                        </h2>
                                        <div class="rating-summary">
                                            <div class="row">
                                                <div class="rating__stars">
                                                    {{ratings_stars_float(product.rating)|safe}}
                                                </div>
                                                <div class="rating__overall">
                                                    {{product.rating}} из 5 звёзд
                                                </div>
                                            </div>
                                            <div class="rating-panel">
                                                {% for item in rating_overall %}
                                                <div class="rating-row row">
                                                    <div class="rating-bar">
                                                        <div class="rating-bar-progress"
                                                            style="width:{{item['percentage']}}%"
                                                        >
                                                        </div>
                                                    </div>
                                                    <div class="rating-percentage">
                                                        {{item['percentage']}}%
                                                    </div>
                                                    <div class="rating-label grey">
                                                        {{item['rating']}} {{normalize_noun_feminine(item['rating'], 'звезд')}}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% for review in reviews %}
                                        <div class="review">
                                            <div class="review-rating stars">
                                            {{rating_stars(review.rating)|safe}}
                                            </div>
                                            <div class="review-text">
                                                {{review.text}}
                                            </div>
                                            <div class="review-author">
                                                {{review.signature}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer__right show-wide">
                        </div>
                    </div>

                    <div data-retailrocket-markup-block="5d8a18a597a528156c373e7f" data-product-id="{{product.id}}"></div>
                    <div data-retailrocket-markup-block="5d8a18cf97a528156c373e82" data-product-id="{{product.id}}"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {{ super() }}
    <div class="modal fast-buy-modal" id="fast-buy-modal">
        <div class="modal-container fast-buy-container">
            <div class="modal-title bold">
            Обратный звонок
            </div>
            <div class="fast-buy-main">
                <div class="fast-buy-form">
                    <div class="fast-buy-caption bold">
                    Введите номер вашего телефона
                    </div>
                    <div class="input-box">
                        <input class="input" id="fast-buy-input"
                            placeholder='+7 (___) ___-____'
                        >
                        <div class="fast-buy-error" id="fast-buy-error">
                        Укажите номер телефона, включая код города (10 цифр)
                        </div>
                    </div>
                </div>
            </div>            
            <div class="button button_big button_accent"
                id="fast-buy-submit"
            >
            ОСТАВИТЬ ЗАЯВКУ
            </div>
            <div class="button button_ghost button_big fast-buy-close-btn">
            ЗАКРЫТЬ
            </div>
            <div class="modal-close control-button">
                <i class="icon icon_close" id="fast-buy-close">
                </i>
            </div>
        </div>
        <div class="modal-placeholder">
        </div>
    </div>


    <div class="modal club-price-modal" id="club-price-modal">
        <div class="modal-container club-price-modal-container">
            <div class="modal-title bold club-price-modal-title">
                Клубная цена
            </div>
            <div class="modal-close control-button" id="club-price-close">
                <i class="icon icon_close">
                </i>
            </div>
            <div class="input-box club-price-input">
                <input class="input" type="email" placeholder="Ваш email" id="club-price-input">
            </div>
            <div class="club-price-modal-text">
            Укажите свой адрес электронной почты и мы вышлем вам ссылку для окончания регистрации, после чего вы получите доступ к уникальным для Вас ценовым предложениям, включая этот товар.
            </div>
            <div class="club-price-messages" id="club-price-messages">
            </div>
            <div class="club-price-buttons">
                <div class="club-price-button button button_accent button_big" id="club-price-submit">
                ОТПРАВИТЬ
                </div>
            </div>
        </div>
        <div class="modal-placeholder" id="club-price-placeholder">
        </div>
    </div>
{% endblock modals %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        var PRODUCT = {
            pk: '{{product.id}}',
            model: '{{ product.model }}',
            slug: '{{ product.slug }}',
        };
        var DELIVERY = {
            'product_type': 'CUBE',
            'price': {{product._price}},
            'purchase_price': {{product._purchase_price}},
            'vendor': '{{product.brand}}'
        };
        var CATEGORY = "{{category.name}}";
    </script>
    <script src="{{ static('js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ static('js/productPage.js') }}"></script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "{{product.full_name}}",
          "image": "https://presidentwatches.ru{{product.image.url}}",
          "description": "{{product.html_free_description}}",
          {% if product.brand|length > 0 %}
          "brand": "{{product.brand}}",
          {% endif %}
          "offers": {
            "@type": "Offer",
            "priceCurrency": "RUB",
            "price": "{{product.price}}",
            "itemCondition": "http://schema.org/NewCondition",
            {% if product.is_in_stock %}
            "availability": "http://schema.org/InStock",
            {% else %}
            "availability": "http://schema.org/OutOfStock",
            {% endif %}
            "url": "https://presidentwatches.ru/watches/{{product.slug}}/"
          }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {% for link in category.truncated_breadcrumbs  %}
                    {
                        "@type": "ListItem",
                        "position": {{ loop.index }},
                        "item": {
                            "@id": "{{ url('shop:category', args=[link['slug']]) }}",
                            "name": "{{ link['name'] }}",
                            "url": "{{ url('shop:category', args=[link['slug']]) }}"
                        }
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    </script>
{% endblock javascript %}