{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/profile.css') }}"/>
{% endblock css %}

{% block content %}
<div class="profile">

    <div class="content-area content-area_block">
        <div id="profile">
            <app :user_id={{request.user.id}}>
        </div>
    </div>

</div>

{% endblock content %}

{% block subscribes %}
{% endblock subscribes %}

{% block javascript %}
    {{ super() }}
    <script src="{{ static('js/profilePage.js') }}"></script>
{% endblock javascript %}
