{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/profile.css') }}"/>
{% endblock css %}

{% block content %}
<div class="profile">
    <div class="title-area">
        <div class="content-area content-area_block">
            <div class="breadcrumbs">
                <a class="breadcrumbs__item breadcrumbs_first" href="/">
                Главная
                </a>
                <span class="breadcrumbs__delimeter">
                /
                </span>
                <a class="breadcrumbs__item breadcrumbs_last">
                Личный кабинет
                </a>
            </div>
            <h1 class="title">
                Личный кабинет
            </h1>
            <div id="profile">
                <app :user_id={{request.user.id}}>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block subscribes %}
{% endblock subscribes %}

{% block javascript %}
    {{ super() }}
    <script src="{{ static('js/profilePage.js') }}"></script>
{% endblock javascript %}
