{% extends "base.html" %}

{% block css %}
    {{ super() }}
{% endblock css %}

{% block content %}
    <div class="title-area">
        <div class="content-area content-area_block">
            <div class="breadcrumbs">
                <a class="breadcrumbs__item breadcrumbs_first" href="/">
                Главная
                </a>
                <span class="breadcrumbs__delimeter">
                /
                </span>
                <a class="breadcrumbs__item breadcrumbs_last">
                Поиск
                </a>
            </div>
            <h1 class="title title_catalog">
                Поиск по запросу: {{query}}
            </h1>
        </div>

        <div class="content-area content-area_block">
            <div class="catalog catalog_search">
                {% if results|length > 0 %}
                <div class="catalog__gallery row">
                    {% for instance in results %}
                        {% if instance.model %}
                        <div class="product-card">
                            <div class="product-card-top">
                                <div class="product-card__badges">
                                    {% if instance.free_delivery %}
                                    <div class="badge badge_green">
                                    БЕСПЛАТНАЯ ДОСТАВКА
                                    </div>
                                    {% endif %}
                                    {% if instance.is_bestseller %}
                                    <div class="badge badge_orange">
                                    ХИТ
                                    </div>
                                    {% endif %}
                                </div>
                                {% if instance.id not in favorites.ids %}
                                    <div class="product-card__favorite like"
                                        data-id="{{instance.id}}"
                                    >
                                        <i class="icon icon-like">
                                        </i>
                                    </div>
                                {% else %}
                                    <div class="product-card__favorite like like_active"
                                        data-id="{{instance.id}}"
                                    >
                                        <i class="icon icon-like">
                                        </i>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="product-card-body">
                                <a href="/watches/{{instance.slug}}/">
                                    <div class="product-card-img-wrap">
                                        <img class="product-card-img" src="{{instance.thumbnail.url}}">
                                        {% if instance.show_sale %}
                                        <div class="product-card__sale-percentage">
                                        - {{instance.sale_percentage}} %
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="product-card-data">
                                        <div class="product-card-info">
                                            <a href="/watches/{{instance.slug}}/" class="product-card__hover-link">
                                                <div class="product-card__brand">
                                                    {{instance.brand}}
                                                </div>
                                                <div class="product-card__series">
                                                    {{instance.series}}
                                                </div>
                                                <div class="product-card__model">
                                                    {{instance.model}}
                                                </div>
                                            </a>
                                        </div>
                                        {% if instance.show_sale %}
                                            <div class="product-card__price price price_red">
                                                {{format_price(instance.price)}}
                                            </div>
                                            <div class="product-card__old-price-wrap">
                                                <div class="product-card__old-price price price_old">
                                                    {{format_price(instance.old_price)}}
                                                </div>
                                            </div>
                                        {% else %}
                                        <div class="product-card__price price">
                                            {{format_price(instance.price)}}
                                        </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                            <div class="product-card-footer">
                                {% if instance.get_offline_availability(request) %}
                                <a class="link link_dotted" href="/info/offline-shops/" target="_blank">
                                Есть в магазине на Тульской
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="search-placeholder">
                По данному запросу ничего не найдено
                </div>
                <div data-retailrocket-markup-block="5d8a192a97a528156c373ea4" data-search-phrase="{{query}}"></div>
                {% endif %}
            </div>

            {% if is_paginated %}
            <div class="pagination catalog__pagination">
                {#<div class="pagination__load-mobile button button_big button_filled show-mb">
                    ПОКАЗАТЬ ЕЩЁ
                </div>#}
                <div class="pagination__pages-wrap">
                    <div class="pagination__pages row">
                        {% for page in page_obj.page_range %}
                            {% if not page %}
                            <div class="page-btn page-btn_disabled hide-mb">
                                ...
                            </div>
                            {% else %}
                                {% if page == page_obj.number %}
                                <a class="page-btn page-btn_active">
                                    {{page}}
                                </a>
                                {% else %}
                                <a class="page-btn"
                                    href="{{request.path}}{{ update_pagination(querystring=request.GET, kwargs={'page':page}) }}"
                                >
                                    {{page}}
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if page_obj.has_next() %}
                    <a class="page-btn page-btn_next hide-mb"
                        href="{{request.path}}{{ update_pagination(querystring=request.GET, kwargs={'page':page_obj.next_page_number()}) }}"
                    >
                        СЛЕДУЮЩАЯ
                    </a>
                    {% else %}
                    <a class="page-btn page-btn_next hide-mb page-btn_disabled"
                    >
                        СЛЕДУЮЩАЯ
                    </a>
                    {% endif %}
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div data-retailrocket-markup-block="5d8a191c97a528156c373e8f" data-search-phrase="{{query}}"></div>
            {% endif %}

        </div>

    </div>
{% endblock content %}
