.crud__content {
    padding: 16px;
}
.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table__header {
    height: 48px;
}
.table__head {
    padding: 12px;
}
.table__cell {
    padding: 12px;
    border-top-color: rgba(0,0,0,.12);
    border-top: 1px solid rgba(0,0,0,.12);
}
.table__row {
    height: 48px;
    transition-duration: .2s;
    transition-property: background-color;
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,.08);
    }
}
.text_center {
    text-align: center;
}
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}


.filters__header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    align-items: center;
    height: 48px;
    cursor: pointer;
}
.filters__arrow {
    transition: .2s;
}
.filters__arrow.is-active {
    transform: rotate(180deg);
}