//sidebar
$menuBg:#000000;
$subMenuBg:#202124;
$menuHover:#263238;

$accent: #f6de32;
$light-grey: #ededed;
$dark-grey: #7f7f7f;
$grey: #dcdcdc;
$red: #f82c4b;
$orange: #f57e39;
$black: #000000;
$white: #ffffff;
$red-2: #fc152e;
$blue: #4c4dc1;
$green: #67c23a;