{% extends "mail/base.html" %}


{% block content %}
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3110">
                        <img src="/static/mailing/01.jpg">
                    </a>
                </td>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3053">
                        <img src="/static/mailing/02.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    </p>
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3104">
                        <img src="/static/mailing/03.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    </p>
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3106">
                        <img src="/static/mailing/04.jpg">
                    </a>
                </td>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3182">
                        <img src="/static/mailing/06.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    </p>
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3223">
                        <img src="/static/mailing/07.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3239">
                        <img src="/static/mailing/08.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3184">
                        <img src="/static/mailing/09.jpg">
                    </a>
                </td>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3236">
                        <img src="/static/mailing/10.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
    <table cellpadding="0" style="width: 100%; max-width: 600px; padding: 0px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <a href="{{BASE_URL}}/u/mailing/{{uuid}}/?category=3226">
                        <img src="/static/mailing/11.jpg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; margin: 0px;" 
        data-mce-style="font-size: 0px; 
        line-height: 20px; 
        padding: 0px; 
        margin: 0px;"
    >&nbsp;
{% endblock content %}