<div class="sidebar sidebar_cart" id="sidebar">
    <div class="sidebar__inner">
        <div class="sidebar-tabs sidebar-tabs_cart sidebar-tabs_cart sticky">
            <div class="sidebar-cart">
                <div class="sidebar-cart-block">
                    <div class="sidebar-cart-title">
                    Простота и прозрачность процедуры обмена и возврата
                    </div>
                    <p>
                    Вы можете обменять или вернуть товар, купленный в нашем магазине в течении 30 дней, 
                    а не 7, как того требует 26.1 ФЗ "О защите прав потребителей". 
                    Вернуть товар можно из любого региона России.
                    </p>
                </div>
                <div class="sidebar-cart-block">
                    <div class="sidebar-cart-title">
                    Мы гарантируем, что товар дойдёт в целости и сохранности
                    </div>
                    <p>
                    Будьте уверены, что с Вашими часами, в пути ничего не произойдёт, мы 
                    очень надёжно упаковываем каждый заказ в воздушно-пузырчатую плёнку 
                    прежде чем запаковать товар в сейф-пакет или коробку.
                    </p>
                </div>
                <div class="sidebar-cart-block">
                    <div class="sidebar-cart-title">
                    Фирменный гарантийный талон — гарантия оригинальности
                    </div>
                    <p>
                    В комплекте с часами идёт фирменный гарантийный талон, по которому Вы 
                    можете получить гарантийное обслуживание, в нём будет стоять наша печать и 
                    подпись, а также прописана дата продажи и название модели часов.
                    </p>
                </div>
                <div class="sidebar-cart-block">
                    <div class="sidebar-cart-title">
                    Отказ от товара
                    </div>
                    <p>
                    Вы можете в любой момент отказаться от покупки товара без объяснения причин, 
                    независимо от способа доставки
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>