{% strip %}
<div class="footer">
    <div class="footer-top">
        <div class="footer-columns">
            <div class="footer-columns__content">
                <div class="footer-column footer-column_contacts">
                    <div class="address">
                        <p>
                            Москва, ул. Авиамоторная дом 50 с2
                        </p>
                        <p>
                            <a class="bold">
                                8 800 200-7456
                            </a>
                        </p>
                        <p>
                            <a class="link">
                                info@presidentwatches.ru
                            </a>
                        </p>
                    </div>
                    <div class="shedule">
                        <div class="subtitle">
                            Работаем без выходных
                        </div>
                        <p>
                            с 10.00 до 20.00, ежедневно
                        </p>
                    </div>
                </div>
                <div class="footer-column footer-column_links">
                    <div class="footer-links">
                        <nav class="footer-links__list footer-links__list_1">
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/about/">
                                    О компании
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/contacts/">
                                    Контакты
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/delivery/">
                                    Доставка и оплата
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/guarantees/">
                                    Гарантии
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/oferta/">
                                    Договор оферты
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/privacy-policy/">
                                    Политика безопасности
                                </a>
                            </li>
                        </nav>
                        <nav class="footer-links__list footer-links__list_2">
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/info/promo/">
                                    Акции
                                </a>
                            </li>
                            <li class="footer-links__item">
                                <a class="link footer-links__link" href="/shop/watches/bestsellers/">
                                    Хиты продаж
                                </a>
                            </li>
                        </nav>
                    </div>
                </div>
                <div class="footer-column footer-column_info">
                    <div class="footer-column__sub-column">
                        <div class="social-info">
                            <div class="social-info__content">
                                <div class="subtitle">
                                    Мы в социальных сетях
                                </div>
                                <div class="social-list social-info__list">
                                    <a class="social-list__link" href="https://www.facebook.com/pwatches"
                                        target="_blank"
                                    >
                                        <i class="icon icon_facebook">
                                        </i>
                                    </a>
                                    <a class="social-list__link" href="https://www.instagram.com/p_watches/"
                                        target="_blank"
                                    >
                                        <i class="icon icon_instagram">
                                        </i>
                                    </a>
                                    <a class="social-list__link" href="https://www.youtube.com/user/presidentwatches"
                                        target="_blank"
                                    >
                                        <i class="icon icon_youtube">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-column__sub-column">
                        <div class="payment-info">
                            <div class="payment-info__content">
                                <div class="subtitle">
                                    Принимаем к оплате
                                </div>
                                <div class="payment-types payment-types_footer">
                                    <i class="icon icon_mastercard payment-types__type">
                                    </i>
                                    <i class="icon icon_visa payment-types__type">
                                    </i>
                                    <i class="icon icon_mir payment-types__type">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__content">
            <div class="footer-bottom__policy">
                <p>
                    <a class="link link_grey" href="/info/privacy-policy/">
                        Политика конфиденциальности
                    </a>
                </p>
                <p class="grey">
                    © 2018 presidentwatches.ru
                </p>
            </div>
        </div>
    </div>
</div>
{% strip %}