<div class="header">
    <div class="header__desktop">
        <div class="header__top">
            <div class="content-area">
                <div class="header__top-menu">
                    <a class="header__top-link tab-link city-choice"
                        id="header-city-link"
                        href="#"
                    >
                        <i class="icon icon_nav tab-link__icon">
                        </i>
                        <div class="tab-link__caption bold"
                            id="header-city-text"
                        >
                            САНКТ-ПЕТЕРБУРГ
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_pin tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            30 ТОЧЕК САМОВЫВОЗА
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_bag tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            МАГАЗИНЫ
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_delivery tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            ДОСТАВКА И ОПЛАТА
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_phone tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            8 800 200-7456
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__middle">
            <div class="content-area">
                <div class="logo-wrap header__logo">
                    <a href="/">
                        <img class="logo" src="{{ static('img/logo/logo.svg') }}">
                    </a>
                </div>
                <div class="header__search-box">
                    <i class="icon icon_search header__search-icon">
                    </i>
                    <input class="input input_filled header__input"
                        placeholder="ПОИСК ТОВАРОВ"
                    >
                </div>
                <div class="header__controls">
                    <div class="control-button header-auth">
                        <i class="icon icon_user">
                        </i>
                        <div class="control-button__text">
                        ВОЙТИ
                        </div>
                    </div>
                    <div class="control-button control-button_tablet">
                        <i class="icon icon_eye">
                        </i>
                    </div>
                    <div class="control-button control-button_tablet">
                        <i class="icon icon_heart-stroke">
                        </i>
                    </div>
                    <div class="'control-button control-button_tablet">
                        <i class="icon icon_cart">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="content-area">
                <nav class="header__catalog row">
                    <li class="header__catalog-item catalog-item">
                        <a class="catalog-link_first catalog-link" href="/shop/watches/mens/">
                            МУЖСКИЕ
                        </a>
                        <div class="submenu">
                            <div class="submenu-content">
                                <div class="content-area">
                                    <div class="submenu-inner">
                                        <div class="submenu-columns row">
                                            <div class="submenu-col submenu-col-1">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        КАТЕГОРИИ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/quarz/">
                                                            Кварцевые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/mechanical/">
                                                            Механические
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/electronic/">
                                                            Электронные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/sport/">
                                                            Спортивные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="#">
                                                            Водонепроницаемые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="#">
                                                            Рейтинг выше 4 звезд
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="#">
                                                            Больше всего отзывов
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-2">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        СТРАНЫ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/russian/">
                                                            Российские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/swiss/">
                                                            Швейцарские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/japan/">
                                                            Японские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/american/">
                                                            Американские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/german/">
                                                            Немецкие
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/fashion/">
                                                            Дизайнерские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/other/">
                                                            Другие
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-3">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        Бренды
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/casio/">
                                                            Casio
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/casio/casio-gshock/mens/">
                                                            Casio G-Shock
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/orient/">
                                                            Orient
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/fashion/fossil/mens/">
                                                            Fossil
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/russian/vostok/mens/">
                                                            Восток
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/swiss/calvin-klein/mens/">
                                                            Calvin Klein
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/fashion/ben-sherman/">
                                                            Ben Sherman
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-4">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        Цвет
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/white/">
                                                            Белые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/black/">
                                                            Черные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/brown/">
                                                            Коричневые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/yellow/">
                                                            Золотые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/silver-metallic/">
                                                            Серебряные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/red/">
                                                            Красные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/blue/">
                                                            Синие
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-5">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        ПО ЦЕНЕ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/?price__lte=5000">
                                                            до <span class="price">5000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/?price__gte=5000&price__lte=10000">
                                                            от <span class="price">5000</span> до <span class="price">10 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/?price__gte=10000&price__lte=30000">
                                                            от <span class="price">10 000</span> до <span class="price">30 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/?price__gte=30000&price__lte=60000">
                                                            от <span class="price">30 000</span> до <span class="price">60 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/mens/?price__gte=60000">
                                                            Дороже <span class="price">60 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline red" href="/shop/watches/mens/sale/">
                                                            Со скидкой
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="submenu-footer">
                                            <div class="submenu-footer__title">
                                                ПОПУЛЯРНЫЕ МОДЕЛИ У МУЖЧИН СЕГОДНЯ
                                            </div>
                                            <div class="popular-list row">
                                                <a class="popular-item" href="/watches/casio-mtp-1314l-8a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/0000/C/casio-mtp-1314l-8a/1314/b30d80940c55cb2359da008f8df29a57.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1314L-8A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">2390</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-1374l-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1435/627075/e0c5f9a9-347f-404e-9a51-a8dbd5fc1004/69a69a30cce4c5f32915c6a5eb645674.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1374L-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3990</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-1374d-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1435/831829/13742000x2000/21472d0bb9bc6d7c1c0c775657e2aca1.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1374D-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3990</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-v300g-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1645/320836/1-12000x20002000x2000/0c73b7b4dda7c7eed1306961b8f8bb71.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-V300G-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3790</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header__catalog-item catalog-item">
                        <a class="catalog-link" href="/shop/watches/women/">
                            ЖЕНСКИЕ
                        </a>
                        <div class="submenu">
                            <div class="submenu-content">
                                <div class="content-area">
                                    <div class="submenu-inner">
                                        <div class="submenu-columns row">
                                            <div class="submenu-col submenu-col-1">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        КАТЕГОРИИ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/quarz/">
                                                            Кварцевые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/mechanical/">
                                                            Механические
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/electronic/">
                                                            Электронные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/sport/">
                                                            Спортивные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/">
                                                            Водонепроницаемые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="#">
                                                            Рейтинг выше 4 звезд
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="#">
                                                            Больше всего отзывов
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-2">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        СТРАНЫ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/russian/">
                                                            Российские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/swiss/">
                                                            Швейцарские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/japan/">
                                                            Японские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/american/">
                                                            Американские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/german/">
                                                            Немецкие
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/fashion/">
                                                            Дизайнерские
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/other/">
                                                            Другие
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-3">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        Бренды
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/casio/women/">
                                                            Casio
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/casio/casio-gshock/casio-baby-g/">
                                                            Casio Baby-G
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/orient/women/">
                                                            Orient
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/citizen/women/">
                                                            Citizen
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/qq/women/">
                                                            Q&Q
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/japan/seiko/women/">
                                                            Seiko
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/swiss/calvin-klein/women/">
                                                            Calvin Klein
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-4">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        Цвет
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/white/">
                                                            Белые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/black/">
                                                            Черные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/brown/">
                                                            Коричневые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/yellow/">
                                                            Золотые
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/silver-metallic/">
                                                            Серебряные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/red/">
                                                            Красные
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/blue/">
                                                            Синие
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="submenu-col submenu-col-5">
                                                <ul class="submenu-list">
                                                    <li class="submenu-title bold">
                                                        ПО ЦЕНЕ
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/?price__lte=5000">
                                                            до <span class="price">5000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/?price__gte=5000&price__lte=10000">
                                                            от <span class="price">5000</span> до <span class="price">10 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/?price__gte=10000&price__lte=30000">
                                                            от <span class="price">10 000</span> до <span class="price">30 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/?price__gte=30000&price__lte=60000">
                                                            от <span class="price">30 000</span> до <span class="price">60 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline" href="/shop/watches/women/?price__gte=60000">
                                                            Дороже <span class="price">60 000</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link_underline red" href="/shop/watches/women/sale/">
                                                            Со скидкой
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="submenu-footer">
                                            <div class="submenu-footer__title">
                                                ПОПУЛЯРНЫЕ МОДЕЛИ У ЖЕНЩИН СЕГОДНЯ
                                            </div>
                                            <div class="popular-list row">
                                                <a class="popular-item" href="/watches/casio-mtp-1314l-8a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/0000/C/casio-mtp-1314l-8a/1314/b30d80940c55cb2359da008f8df29a57.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1314L-8A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">2390</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-1374l-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1435/627075/e0c5f9a9-347f-404e-9a51-a8dbd5fc1004/69a69a30cce4c5f32915c6a5eb645674.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1374L-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3990</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-1374d-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1435/831829/13742000x2000/21472d0bb9bc6d7c1c0c775657e2aca1.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-1374D-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3990</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="popular-item" href="/watches/casio-mtp-v300g-1a/">
                                                    <div class="card-mini">
                                                        <div class="card-mini__img-wrap">
                                                            <img class="card-mini__img" src="/media/CACHE/images/images/1645/320836/1-12000x20002000x2000/0c73b7b4dda7c7eed1306961b8f8bb71.jpg">
                                                            <div class="card-mini__controls">
                                                            </div>
                                                        </div>
                                                        <div class="card-mini__content">
                                                            <div class="card-mini__brand">
                                                                Casio
                                                            </div>
                                                            <div class="card-mini__series">
                                                                G-Shock
                                                            </div>
                                                            <div class="card-mini__model">
                                                                MTP-V300G-1A
                                                            </div>
                                                            <div class="card-mini__price">
                                                                <span class="price">3790</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header__catalog-item catalog-item">
                        <a class="catalog-link" href="/shop/watches/detskie/">
                            ДЕТСКИЕ
                        </a>
                    </li>
                    <li class="header__catalog-item catalog-item">
                        <a class="catalog-link" href="#">
                            БРЕНДЫ
                        </a>
                    </li>
                    <li class="header__catalog-item catalog-item">
                        <a class="catalog-link" href="#">
                            СТРАНЫ
                        </a>
                    </li>
                    <li class="header__catalog-item catalog-item catalog-item_accent"
                    >
                        <a class="catalog-link" href="/shop/watches/sale/">
                            РАСПРОДАЖА
                        </a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-content" id="header-mobile">
            <div class="header-mobile__left">
                <div class="header__toggle-menu control-button" id="hamburger">
                    <i class="icon icon_menu">
                    </i>
                </div>
                <div class="header__home">
                    <a class="logo-wrap logo-wrap_mobile"
                        href="/"
                    >
                        <img class="logo logo_mobile"
                            src="{{ static('img/logo/logo_small.svg') }}"
                        >
                    </a>
                </div>
            </div>
            <div class="header-mobile__right">
                <div class="header__search-button header__button"
                    id="search-mobile"
                >
                    <i class="icon icon_search">
                    </i>
                </div>
                <div class="header__cart-button header__button"
                    id="cart-mobile"
                >
                    <i class="icon icon_cart">
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
