<div class="header">
    <div class="header__desktop">
        <div class="header__top">
            <div class="content-area">
                <div class="header__top-menu">
                    <a class="header__top-link tab-link city-choice"
                        id="header-city-link"
                        href="#"
                    >
                        <i class="icon icon_nav tab-link__icon">
                        </i>
                        <div class="tab-link__caption"
                            id="header-city-text"
                        >
                            САНКТ-ПЕТЕРБУРГ
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_pin tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            30 ТОЧЕК САМОВЫВОЗА
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_bag tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            МАГАЗИНЫ
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_delivery tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            ДОСТАВКА И ОПЛАТА
                        </div>
                    </a>
                    <a class="header__top-link tab-link"
                        href="#"
                    >
                        <i class="icon icon_phone tab-link__icon">
                        </i>
                        <div class="tab-link__caption">
                            8 800 200-7456
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__middle">
            <div class="content-area">
                <div class="logo-wrap header__logo">
                    <img class="logo" src="{{ static('img/logo/logo.svg') }}">
                </div>
                <div class="header__search-box">
                    <i class="icon icon_search header__search-icon">
                    </i>
                    <input class="input header__input input"
                        placeholder="ПОИСК ТОВАРОВ"
                    >
                </div>
                <div class="header__controls">
                    <div class="control-button">
                        <i class="icon icon_user">
                        </i>
                        <div class="control-button__text">
                        ВОЙТИ
                        </div>
                    </div>
                    <div class="control-button control-button_tablet">
                        <i class="icon icon_eye">
                        </i>
                    </div>
                    <div class="control-button control-button_tablet">
                        <i class="icon icon_heart">
                        </i>
                    </div>
                    <div class="'control-button control-button_tablet">
                        <i class="icon icon_cart">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="content-area">
                <nav class="header__catalog">
                    <li class="header__catalog-item catalog-item">
                        МУЖСКИЕ
                    </li>
                    <li class="header__catalog-item catalog-item">
                        ЖЕНСКИЕ
                    </li>
                    <li class="header__catalog-item catalog-item">
                        ДЕТСКИЕ
                    </li>
                    <li class="header__catalog-item catalog-item">
                        БРЕНДЫ
                    </li>
                    <li class="header__catalog-item catalog-item">
                        СТРАНЫ
                    </li>
                    <li class="header__catalog-item catalog-item catalog-item_accent"
                    >
                        РАСПРОДАЖА
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile__left">
            <div class="header__toggle-menu hamburger">
                <i class="icon icon_menu">
                </i>
            </div>
            <a class="header__home"
                href="/"
            >
                <div class="logo-wrap logo-wrap_mobile">
                    <img class="logo logo_mobile"
                        src="{{ static('img/logo/logo_small.svg') }}"
                    >
                </div>
            </a>
        </div>
        <div class="header-mobile__right">
            <div class="header__search-button header__button"
                id="search-mobile"
            >
                <i class="icon icon_search">
                </i>
            </div>
            <div class="header__cart-button header__button"
                id="cart-mobile"
            >
                <i class="icon icon_cart">
                </i>
            </div>
        </div>
    </div>
</div>
