.register-page {
    padding: 30px 30px 100px 30px;
    .register-form {
        margin: 0 auto;
        max-width: 500px;
    }
}

.login-page {
    padding: 30px 30px 100px 30px;
    .login-form {
        margin: 0 auto;
        max-width: 500px;
    }
}

.form-result {
    color: $red;
    margin: 10px 0px;
}