@import '../../node_modules/sass-mq/mq';

$mq-breakpoints: (
    mobile:  320px,
    tablet: 768px,
    desktop: 1032px,
    wide: 1500px,
    maximum: 1730px
);



.profile-navigation {

}

.profile-greeting {
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    @include mq($from: tablet) {
        margin-bottom: 30px;
        border-bottom: 1px solid #dcdcdc;
    }
}

.profile-navigation-link {
    display: none;
    color: #7f7f7f;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0px;
    margin-bottom: 4px;
    &:hover {
        color: black;
    }
    @include mq($from: tablet) {
        display: block;
    }
}

.profile-navigation-link.active {
    color: black;
}

.profile {
    min-height: 370px;
    margin-bottom: 200px;
    font-size: 14px;
    .profile-title {
        
    }
}

.order {
    position: relative;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px #dcdcdc;
    transition: .3s box-shadow;
    max-width: 639px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 38px 0 rgba(51, 38, 38, 0.15);
    }
}

.order-left {
    float: left;
}

.order-right {
    position: absolute;
    top: 10px;
    right: 0px;
    overflow: hidden;
    width: 100px;
    @include mq($from: tablet) {
        width: 400px;
    }
    // float: right;
    // min-width: 400px;
}

.order-img-wrap {
    height: 100px;
    width: 90px;
    float: left;
    text-align: center;
    img {
        height: 100%;
        width: auto;
    }
}

.order-status {
    font-size: 9px;
    margin-bottom: 6px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.order-uuid {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.order-price {
    font-size: 14px;
    margin-bottom: 6px;
}

.order-date {
    font-size: 14px;
    color: #7f7f7f;
}

.order-success {
    .order-status {
        color: #3abb37;
    }
}

.order-failure {
    .order-status {
        color: #fc152e;
    }
}

.order-pending {
    .order-status {
        color: #f57e39;
    }
}

.user-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
}

.user-content {
    .input {
        color: black;
    }
}

.user-block-title {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
}

.user-block {
    margin-bottom: 30px;
}

.user-content {
    max-width: 630px;
    .col {
        @include mq($from: tablet) {
            padding-right: 10px;
        }
    }
    .input {
        height: 36px;
        font-size: 14px;
    }
}

.user-label {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #7f7f7f;
    margin-bottom: 6px;
}

.user-sex {
    display: inline-block;
    height: 36px;
    width: 110px;
    text-align: center;
    line-height: 36px;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    margin-right: 10px;
    user-select: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background: #dcdcdc;
    }
}

.user-sex.active {
    background: #dcdcdc;
    cursor: default;
}

.delimeter {
    height: 1px;
    width: 100%;
    background: #dcdcdc;
}

.user-submit {
    margin-top: 30px;
}


// Mobile navigation
.navigation-mobile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #dcdcdc;
}

.navigation-mobile {
    display: block;
    @include mq($from: tablet) {
        display: none;
    }
}

.navigation-block {
    @include mq($from: mobile, $until: tablet) {
        padding-right: 0px;
    }
}

.navigaton-desktop {
    display: none;
    @include mq($from: tablet) {
        display: block;
    }
}

.navigation-backspace {
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    .icon {
        display: inline-block;
        font-size: 16px;
        margin-right: 10px;
    }
}

.navigation-mobile-list {
    border-bottom: 1px solid #dcdcdc;
}

.payments-list {
    max-width: 600px;
}

.payment {
    padding: 20px;
    border: 1px solid #EBEEF5;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.payment-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.payment-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.payment-status {
    letter-spacing: 1px;
    text-transform: lowercase;
}

.payment-body {
    padding: 30px 0px;
}

.payment-status.pending {
    color: #f57e39;
}
.payment-status.success {
    color: #3abb37;
}
.payment-status.fail {
    color: #fc152e;
}

.payment-price {
    font-size: 24px;
    font-weight: 600;
}